n8n-workflows/[koktek_CJ] - 01 - IA - Importation de produits (Catalog & Country) (Finale - 3 mars).json
{
  "name": "[koktek_CJ] - 01 - IA - Importation de produits (Catalog & Country) (Finale - 3 mars)",
  "nodes": [
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1216,
        1360
      ],
      "id": "df451601-ca9b-470a-8f04-64d496cfee62",
      "name": "OpenRouter Chat Model",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://developers.cjdropshipping.com/api2.0/v1/product/list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "countryCode",
              "value": "={{ $json.pays_cible }}"
            },
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "pageNum",
              "value": "={{ $json.numero_page }}"
            },
            {
              "name": "categoryId",
              "value": "={{ $json.categorie_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5158994@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjY5OCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnlvMHMyT0M5MFhSTTJKU0hvcU8wZnlDVE5yVERld2JNN0NpSE92SlIxTnpsd1NBUDJoc0IrRGtOTm5nYVhaTWY0T29wNU5LV0kwTVZQWDZrQVkrYmNnUDRxazRTQ01TcUdMdHlMVlU2MHE3MnFRcXdWTWk1a005Z0ErcGN1R0VhODVUd2JoZzVPUDRPUlg1YlRTS1BuaVhIYjh1alFiVGRnbk8yTVYvUWhPSGtKRHZlZlRBZVNjNDdvMFUvYVBxVVRYSTlsK0tuY0hFYzcxZzg4bi80Ynd5RTMxVEwxU3JoaVJacEFvNHVkVi9PUyt6ZW1wNkpWS0RobHBzWEcxMkplNytBZVVtN0NUcCtoMzNHMnNlVU1wcz0iLCJpYXQiOjE3NzEwOTE4OTF9.MVX1SPGVbScWWJRw3Vu4Vx1Y8zNr8npAG3_FyzrEqCg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        752
      ],
      "id": "1e2f07b3-eb39-431d-b5a3-e3dcc495bef7",
      "name": "[CJ] 02 - API - Fetch Products (CJ)",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Objectif : convertir data.list (tableau) => items n8n (1 item par produit)\n\nconst list = $json?.data?.list;\n\nif (!Array.isArray(list)) {\n  throw new Error(\"CJ response: data.list introuvable ou non-tableau\");\n}\n\n// Chaque élément de list devient un item n8n\nreturn list.map(p => ({ json: p }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        736
      ],
      "id": "9e4cef4e-0c47-44f4-8b83-1a9e458c750b",
      "name": "[CJ] 03 - MAP - Split CJ List to Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        1104
      ],
      "id": "066f1168-1b85-4143-80c3-5f1d98a4aefc",
      "name": "[CJ] 04 - LOOP - Split In Batches (1 by 1)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INSTRUCTIONS\nAnalyse l'image jointe (source de vérité) et valide ce produit.\n\n# DONNEES DU PRODUIT\n- PID : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.pid }}\n- Titre (EN) : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productNameEn }}\n- Titre (CN) : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productName }}\n- Categorie CJ : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.categoryName }}\n- Prix : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.sellPrice }}\n- SKU : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productSku }}\n- Image URL : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productImage }}",
        "options": {
          "systemMessage": "# ROLE\nTu es l'agent de filtrage qualité d'une boutique d'accessoires pour smartphones/tablettes.\n\n# MISSION PRINCIPALE\nAnalyse l'image jointe. L'image prime sur le texte. Rejette tout produit qui n'est pas strictement un accessoire technique ou périphérique pour téléphone/tablette.\n\n# REGLES DE REJET (is_relevant: false)\nRejette immédiatement :\n- Maroquinerie et Sacs : Sacs à main, portefeuilles, valises, trousses (Exception : pochettes étanches transparentes pour smartphone). Si cela ressemble à un sac à main classique, rejette.\n- Bijoux et Vetements : Bagues, colliers pour humains (seuls les bijoux/chaines s'accrochant au téléphone sont acceptés).\n- Maison et Auto : Boites de rangement, décoration, pièces auto, désodorisants.\n- Electromenager : Tout appareil non lié à la charge ou à l'audio (ex: ventilateurs, rasoirs).\n- En cas de doute : rejette.\n\n# REGLES D'ACCEPTATION (is_relevant: true)\nAccepte uniquement : Coques, verres trempés, câbles, chargeurs, batteries externes, écouteurs, enceintes Bluetooth, supports (voiture/bureau), trépieds, lanières/bijoux de téléphone.\n\n# FORMAT DE SORTIE ATTENDU\nRenvoie uniquement un objet JSON valide avec la structure suivante :\n{\n  \"is_relevant\": boolean,\n  \"reason\": \"Explication courte et technique\",\n  \"suggested_category\": \"coques-protections|charge-energie|audio-son|supports-fixations|decoration-goodies|autres|null\",\n  \"carry\": {\n    \"pid\": \"Copie exacte de l'entrée\",\n    \"productName\": \"Copie exacte de l'entrée\",\n    \"productNameEn\": \"Copie exacte de l'entrée\",\n    \"sellPrice\": \"Copie exacte de l'entrée\",\n    \"productImage\": \"Copie exacte de l'entrée\",\n    \"categoryName\": \"Copie exacte de l'entrée\",\n    \"sku\": \"Copie exacte de l'entrée\"\n  }\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        1104
      ],
      "id": "c6941f97-2eae-43d1-87bd-21020c3ba204",
      "name": "[CJ] 05 - AI - Filter (Videur)",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const raw = $json?.output;\n\n// Récupérer le produit source (pour ne pas perdre pid, images, etc.)\nlet carrySrc;\ntry {\n  carrySrc = $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"]?.json;\n} catch (e) {\n  carrySrc = undefined;\n}\n\nconst carry = carrySrc\n  ? {\n      pid: carrySrc.pid ?? null,\n      productName: carrySrc.productName ?? null,\n      productNameEn: carrySrc.productNameEn ?? null,\n      productSku: carrySrc.productSku ?? null,\n      productImage: carrySrc.productImage ?? null,\n      productWeight: carrySrc.productWeight ?? null,\n      categoryName: carrySrc.categoryName ?? null,\n      categoryId: carrySrc.categoryId ?? null,\n      sellPrice: carrySrc.sellPrice ?? null,\n      remark: carrySrc.remark ?? null,\n      isFreeShipping: carrySrc.isFreeShipping ?? null,\n      isTestProduct: carrySrc.isTestProduct ?? null,\n      shippingCountryCodes: carrySrc.shippingCountryCodes ?? null,\n    }\n  : null;\n\nfunction reject(reason) {\n  return [\n    {\n      json: {\n        is_relevant: false,\n        matched_brand: null,\n        category_slug: null,\n        reason,\n        carry,\n        raw_output: raw ?? null,\n      },\n    },\n  ];\n}\n\n// 1) Si l'AI node renvoie déjà un objet JSON\nif (raw && typeof raw === \"object\") return [{ json: raw }];\n\n// 2) Si output absent / vide / non string => rejet propre (au lieu de throw)\nif (typeof raw !== \"string\" || !raw.trim()) {\n  return reject(\"Videur: output vide ou non-string (réponse IA invalide).\");\n}\n\nconst text = raw.trim();\n\n// 3) Tentative parse direct (si l'output est un JSON pur)\ntry {\n  return [{ json: JSON.parse(text) }];\n} catch (e) {}\n\n// 4) Tentative extraction entre { ... } (si texte autour)\nconst start = text.indexOf(\"{\");\nconst end = text.lastIndexOf(\"}\");\nif (start !== -1 && end !== -1 && end > start) {\n  const slice = text.slice(start, end + 1);\n  try {\n    return [{ json: JSON.parse(slice) }];\n  } catch (e) {}\n}\n\n// 5) Sinon: rejet propre (le workflow continue)\nreturn reject(\"Videur: output non-JSON (le modèle a répondu en texte).\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        1104
      ],
      "id": "777a72f0-617c-4031-90d8-77bbab3bec11",
      "name": "[CJ] 06 - MAP - Parse Videur Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92b80384-8af4-415e-8c9f-b6b7a2283dff",
              "leftValue": "={{ $json.is_relevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        1104
      ],
      "id": "f2c5b368-5e45-4135-b0df-3f2d72c762d5",
      "name": "[CJ] 07 - IF - Relevant?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INSTRUCTIONS\n1. Juge la qualite visuelle (Rejette si cheap).\n2. Si accepte, definis la Categorie et la Marque.\n3. Redige une description concise (1 seul paragraphe court) suivie d'une Fiche Technique (liste HTML).\n4. Nettoie et traduis les variantes en CONSERVANT OBLIGATOIREMENT la couleur et le modele. Supprime la partie redondante.\n\n# DONNEES TECHNIQUES (CJ)\n- PID : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.pid }}\n- Titre Original (EN) : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.productNameEn }}\n- Description (HTML brut CJ) : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.description }}\n\n# IMAGES DISPONIBLES\n{{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.productImageSet }}\n\n# VARIANTES A NETTOYER ET TRADUIRE\n{{ $json.data.variants[0].variantKey }}",
        "options": {
          "systemMessage": "# ROLE\nTu es l'Expert Merchandiser, Copywriter et Directeur Artistique de KOKTEK, une boutique premium d'accessoires pour smartphones. Ton style de redaction est celui d'un Journaliste Tech passionne.\n\n# MISSION 1 : CONTROLE QUALITE VISUEL (ELIMINATOIRE)\nAnalyse la ou les photos du produit. Ta boutique est PREMIUM.\n- REJETTE (should_publish: false) si : la photo fait amateur, montre le produit dans un emballage plastique cheap, a des filigranes enormes, ou fait \"bas de gamme\".\n- ACCEPTE (should_publish: true) si la photo est propre, bien detouree ou mise en scene de facon esthetique.\n\n# MISSION 2 : CLASSIFICATION STRICTE\n1. CATEGORIE : Choisis UNE SEULE categorie parmi : coques-protections, charge-energie, audio-son, supports-fixations, decoration-goodies, autres.\n2. MARQUE :\n   - REGLE D'OR : Si la categorie est coques-protections, tu DOIS OBLIGATOIREMENT renseigner la marque compatible (Ex: Apple, Samsung, Xiaomi, Google Pixel). Si impossible a determiner -> REJETTE le produit.\n   - Pour les accessoires universels (cables, chargeurs), la marque doit etre Autres.\n\n# MISSION 3 : REDACTION DU TITRE ET DE LA DESCRIPTION (CRITIQUE)\n1. TITRE (TITLE) : Le titre original du fournisseur est pollue. \n   - SUPPRIME OBLIGATOIREMENT tous les numeros de serie, SKUs, codes entre parentheses (ex: 1881911431198568450), et termes SEO poubelles (ex: Wholesale, Hot sale, Dropshipping, 2024, New).\n   - Le titre final doit etre ultra-propre, concis, et digne d'une boutique premium (Exemple : \"Tracker Bluetooth GPS - Apple Find My\" ou \"Coque Silicone MagSafe\").\n2. DESCRIPTION - PARTIE MARKETING : Redige UN SEUL paragraphe court et percutant. Rentre direct dans le vif du sujet. Ne commence JAMAIS par des formules toutes faites comme \"Le mot de l'expert\", \"Decouvrez\", ou \"Notre avis\".\n3. DESCRIPTION - PARTIE TECHNIQUE : Sous le pitch marketing, ajoute une liste a puces HTML (<ul><li>) avec les caracteristiques brutes essentielles (Matiere, poids, compatibilite, particularites).\n\n# FORMAT DE SORTIE (JSON STRICT UNIQUEMENT)\nTu ne dois répondre QUE par un objet JSON valide. Aucune phrase d'introduction, aucune excuse si tu n'y arrives pas. Échappe bien tes guillemets dans le HTML.\n{\n  \"should_publish\": boolean,\n  \"quality_notes\": \"Explication du rejet ou de l'acceptation.\",\n  \"category_slug\": \"string\",\n  \"product\": {\n    \"title\": \"Titre ultra-propre et premium en FR\",\n    \"slug\": \"titre-ultra-propre\",\n    \"description\": \"<p>Un paragraphe marketing percutant.</p><h2>Fiche Technique</h2><ul><li>Point 1</li><li>Point 2</li></ul>\",\n    \"brand\": \"Marque obligatoire\",\n    \"tags\": [\"tag1\", \"tag2\"],\n    \"images\": [\"url1\", \"url2\"]\n  }\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2320,
        1088
      ],
      "id": "8b7979fd-b69f-42a3-9339-ffddc803d116",
      "name": "[CJ] 09 - AI - Enhance (Expert)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération de la réponse IA\nconst raw = $json.output || \"\";\nlet cleanRaw = raw.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\nconst start = cleanRaw.indexOf(\"{\");\nconst end = cleanRaw.lastIndexOf(\"}\");\n\nif (start === -1) throw new Error(\"No JSON found in AI output\");\n\nlet stringToParse = cleanRaw.slice(start, end + 1);\nlet aiData = {};\n\ntry {\n    // TENTATIVE 1 : Le JSON est parfait, on le lit normalement.\n    aiData = JSON.parse(stringToParse);\n} catch (e1) {\n    try {\n        // TENTATIVE 2 : Le Nettoyeur. On répare les erreurs IA courantes.\n        // On enlève les virgules traînantes (ex: \"tags\": [\"a\",],)\n        let fixedString = stringToParse.replace(/,\\s*([\\]}])/g, '$1');\n        // On échappe les retours à la ligne qui cassent les chaînes de caractères\n        fixedString = fixedString.replace(/\\n/g, \"\\\\n\").replace(/\\r/g, \"\\\\r\");\n        \n        aiData = JSON.parse(fixedString);\n    } catch (e2) {\n        // TENTATIVE 3 : Le Mode Hache (Regex). On sauve le produit coûte que coûte !\n        // Si la structure JSON est morte, on va chercher les infos avec des pinces.\n        const extract = (regex, defaultVal) => {\n            const match = stringToParse.match(regex);\n            return match ? match[1] : defaultVal;\n        };\n\n        aiData = {\n            // Si on trouve \"should_publish\": true, on publie. Sinon, par sécurité on met true pour ne pas perdre le produit.\n            should_publish: /\"should_publish\"\\s*:\\s*true/i.test(stringToParse),\n            category_slug: extract(/\"category_slug\"\\s*:\\s*\"([^\"]+)\"/, \"autres\"),\n            product: {\n                title: extract(/\"title\"\\s*:\\s*\"([^\"]+)\"/, \"Titre à revoir\"),\n                slug: extract(/\"slug\"\\s*:\\s*\"([^\"]+)\"/, \"produit-a-verifier\"),\n                // On arrache la description en prenant tout ce qui est entre \"description\": \" et le champ suivant \"brand\"\n                description: extract(/\"description\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*,\\s*\"brand\"/, \"Description générée mais mal formatée. À vérifier en base.\"),\n                brand: extract(/\"brand\"\\s*:\\s*\"([^\"]+)\"/, \"Générique\"),\n                tags: []\n            },\n            variant_translations: {} // On sacrifie juste les traductions de couleurs pour sauver l'essentiel\n        };\n    }\n}\n\n// 2. Récupération des données SOURCE FIABLES (CJ Details)\nconst detailNode = $node[\"[CJ]_Get_Enrich_Product_Details\"];\nif (!detailNode || !detailNode.json || !detailNode.json.data) {\n    throw new Error(\"Source CJ Details introuvable !\");\n}\nconst cjData = detailNode.json.data;\nconst cjVariants = cjData.variants || [];\n\n// 3. MAPPING DES CATÉGORIES\nconst categoryMap = {\n    'coques-protections': 1, 'charge-energie': 2, 'audio-son': 3,\n    'supports-fixations': 4, 'decoration-goodies': 5, 'autres': 6\n};\n\n// 4. CONSTRUCTION INTELLIGENTE DES VARIANTES\nconst aiTranslations = aiData.variant_translations || {};\n\nconst cleanVariants = cjVariants.map(v => {\n    const originalName = v.variantNameEn || v.variantName || \"\";\n    let cleanName = aiTranslations[originalName] || originalName;\n    \n    if (cleanName === originalName) {\n        cleanName = cleanName.replace(/Apple/ig, \"\").replace(/Phone Case/ig, \"\").trim();\n    }\n    \n    return {\n        vid: String(v.vid),\n        sku: String(v.variantSku),\n        name: cleanName,\n        price: parseFloat(v.variantSellPrice)\n    };\n});\n\n// 5. OBJET FINAL (Sauvé et prêt à l'export)\nconst merged = {\n    should_publish: aiData.should_publish !== undefined ? aiData.should_publish : true,\n    pid: String(cjData.pid),\n    \n    title: (aiData.product?.title || cjData.productNameEn || \"Produit\") + \" (\" + String(cjData.pid) + \")\",\n    slug: (aiData.product?.slug || \"produit\") + \"-\" + String(cjData.pid),\n    description: aiData.product?.description || \"Aucune description.\",\n    brand: aiData.product?.brand || \"Autres\",\n    tags: aiData.product?.tags || [],\n    \n    images: cjData.productImageSet || [],\n    variants: cleanVariants,\n    \n    nc_category_id: categoryMap[aiData.category_slug] || 6,\n    base_price: cjData.sellPrice,\n    ai_quality_notes: aiData.quality_notes || \"Sauvetage automatique : l'IA a fait une erreur de syntaxe.\"\n};\n\nreturn { json: merged };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        1088
      ],
      "id": "12517892-9c65-4430-bf91-9e35342472b6",
      "name": "[CJ] 10 - MAP - Parse Expert Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c67d5075-b745-466a-ad80-2e5c84547f06",
              "leftValue": "={{ $json.should_publish }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2896,
        1088
      ],
      "id": "b48a575c-ae75-4d25-a6ee-e47fd175d585",
      "name": "[CJ] 11 - IF - Should Publish?"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\n// --- 1. LA CARTE AU TRÉSOR (UUIDs NocoDB) ---\nconst CATEGORY_UUIDS = {\n  1: \"3e40840a-5111-44ef-b264-a75b836b9138\", // Coques & protections\n  2: \"81c1a551-4ce4-40f7-a096-e85fc9f74a71\", // Charge & énergie\n  3: \"64900192-a354-41c1-8f35-a1d13299352e\", // Audio & son\n  4: \"46484275-e161-4bef-8a71-f67d51cb639f\", // Supports & fixations\n  5: \"2070f06d-c3e0-4253-947d-374f8f46368a\", // Décoration & goodies\n  6: \"7167a98a-60dd-4f78-9a56-e206813d4a3c\"  // Autres\n};\n\n// --- 2. SÉCURISATION & CALCULS ---\nconst safePrice = parseFloat(p.base_price) || 0;\nconst aiCategoryNumber = parseInt(p.nc_category_id);\nconst finalCategoryUUID = CATEGORY_UUIDS[aiCategoryNumber] || CATEGORY_UUIDS[6];\n\nconst mainImage = (Array.isArray(p.images) && p.images.length > 0) ? p.images[0] : null;\nconst tagsArray = Array.isArray(p.tags) ? p.tags : [];\nconst imagesArray = Array.isArray(p.images) ? p.images : [];\n\n// --- 3. CRÉATION DU PAQUET ---\nreturn [\n  {\n    json: {\n      title: String(p.title || \"\").substring(0, 255),\n      slug: String(p.slug || \"\"),\n      description: String(p.description || \"\"),\n      base_price: safePrice,\n      cj_pid: String(p.pid),\n      status: \"published\",\n      brand: String(p.brand || \"Universel\"),\n      reference: String(p.sku || `CJ-${p.pid}`),\n      image: mainImage,\n      images: imagesArray,  \n      tags: tagsArray,      \n      categories: finalCategoryUUID, // CORRECTION : Virgule ajoutée et nom variable fixé\n      ai_feedback: String(p.ai_quality_notes || \"RAS\"),\n      _VARIANTS_READY: (p.variants || []).map(v => ({\n          cj_vid: String(v.vid),\n          sku: String(v.sku),\n          option1_name: \"Modèle\",\n          option1_value: String(v.name),\n          price: parseFloat(v.price) || safePrice\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1424
      ],
      "id": "1746831a-f0d2-49ba-8fb1-cf1b506af0e0",
      "name": "[CJ] 12 - MAP - Build Product (Published Payload)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        512
      ],
      "id": "180e8788-6a74-4e22-99e9-59ede2066204",
      "name": "[CJ] 15 - END - Done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47a071b4-674d-4a34-8ffe-1d079b774f5e",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        1120
      ],
      "id": "0756cb14-14be-43b6-a1c6-a7607128ebbf",
      "name": "Déjà en base ?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        880,
        496
      ],
      "id": "adaa5c2e-a553-45af-95f4-09233b964c38",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2320,
        1296
      ],
      "id": "e0e9762f-3b50-4745-96b7-081ba53981f0",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// [CJ] 13A - MAP - Prepare Variants\n// Objectif : 1 item par variante avec champs utiles + FK produit + valeurs \"factorized\" robustes\n\n// 1) ID du produit créé (node 13 en input direct)\nconst createdProduct = $input.first().json;\nconst productId = createdProduct.Id || createdProduct.id;\n\nif (!productId) {\n  throw new Error(\"Impossible de trouver l'ID du produit créé (Id/id manquant).\");\n}\n\n// 2) Variantes préparées dans le node 12\nconst previousData = $node[\"[CJ] 12 - MAP - Build Product (Published Payload)\"].json;\nconst variantsList = previousData._VARIANTS_READY || [];\n\n// 3) Détails produit/variants (node API) -> 1 seul item, donc OK ici\nconst apiItem = $node[\"[CJ]_Get_Enrich_Product_Details\"].json;\nconst details = apiItem?.data || {};\nconst detailsVariants = Array.isArray(details.variants) ? details.variants : [];\nconst productImageSet = Array.isArray(details.productImageSet) ? details.productImageSet : [];\n\nfunction norm(s) {\n  return String(s ?? \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction rightWordSlice(raw, min = 20, max = 35) {\n  const s = norm(raw);\n  if (!s) return null;\n  if (s.length <= max) return s;\n\n  const delims = [\" \", \"-\", \"_\", \"/\", \"|\"];\n\n  const lastDelimBefore = (str, idx) => {\n    let best = -1;\n    for (const d of delims) {\n      const p = str.lastIndexOf(d, idx);\n      if (p > best) best = p;\n    }\n    return best;\n  };\n\n  const firstDelimAfter = (str, idx) => {\n    for (let i = idx; i < str.length; i++) {\n      if (delims.includes(str[i])) return i;\n    }\n    return -1;\n  };\n\n  // coupe à droite sur max, puis ajuste au prochain séparateur pour ne pas couper un mot\n  let start = s.length - max;\n  const next = firstDelimAfter(s, start);\n  if (next !== -1 && (s.length - (next + 1)) >= min) start = next + 1;\n\n  let out = s.slice(start).trim();\n\n  // si trop court, on recule au séparateur précédent (peut dépasser max un peu, accepté)\n  if (out.length < min) {\n    const start2 = Math.max(0, s.length - min);\n    const prev = lastDelimBefore(s, start2);\n    if (prev !== -1) out = s.slice(prev + 1).trim();\n    else out = s.slice(start2).trim();\n  }\n\n  return out || null;\n}\n\nfunction extractTailModel(raw) {\n  const s = norm(raw);\n  if (!s) return null;\n\n  // 1) iPhone (inclut iPhone16E, iPhone15ProMax, XSmax, XR, X, SE, etc.)\n  const rApple =\n    /(?:\\b(?:iPhone|IPhone|iphone)\\b\\s*)?(?:(?:\\d{1,2}[A-Za-z]?)|(?:XS\\s*Max|XSmax|XS|XR|Xr|X|SE|Se))(?:\\s*(?:Pro\\s*Max|ProMax|Promax|promax|Pro|PRO|Max|MAX|Plus|PLUS|mini|Mini|Air|AIR))?\\s*$/;\n\n  // 2) Samsung / Galaxy (générique)\n  const rSamsung =\n    /(?:\\b(?:Samsung|SAMSUNG|samsung|Galaxy|GALAXY|galaxy)\\b\\s*)?(?:Note\\s*)?(?:[SAMZ]\\s*)?\\d{1,2}(?:\\s*(?:Ultra|ULTRA|Plus|PLUS|Pro|PRO|FE|Fe|Lite|LITE|Max|MAX))?\\s*$/;\n\n  const m1 = s.match(rApple);\n  if (m1 && m1[0]) return m1[0].trim();\n\n  const m2 = s.match(rSamsung);\n  if (m2 && m2[0]) return m2[0].trim();\n\n  // 3) fallback robuste (fin de chaîne 20–35 sans couper)\n  return rightWordSlice(s, 20, 35);\n}\n\nfunction toNumber(v, fallback = null) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction computeStock(vDet) {\n  if (!vDet) return 0;\n\n  // CJ renvoie parfois inventoryNum ou un tableau inventories\n  if (vDet.inventoryNum !== null && vDet.inventoryNum !== undefined) {\n    return toNumber(vDet.inventoryNum, 0);\n  }\n\n  const invs = vDet.inventories;\n  if (Array.isArray(invs)) {\n    return invs.reduce((sum, i) => sum + (toNumber(i?.inventoryNum, 0) || 0), 0);\n  }\n\n  return 0;\n}\n\n// 4) Sortie : 1 ligne par variante\nconst mappedVariants = variantsList.map((variant) => {\n  const vid = variant.cj_vid ?? variant.vid ?? null;\n\n  // matching sur l'API (sécurisé)\n  const vDet =\n    detailsVariants.find((x) => String(x?.vid) === String(vid)) || null;\n\n  // champs variant (priorité : ce que tu as déjà, sinon API)\n  const imageUrl =\n    variant.image_url ||\n    variant.variant_image ||\n    variant.variantImage ||\n    vDet?.variantImage ||\n    null;\n\n  const weightGrams =\n    variant.weight_grams ??\n    vDet?.variantWeight ??\n    null;\n\n  const costPrice =\n    variant.cost_price ??\n    vDet?.variantSellPrice ??\n    null;\n\n  const sellPrice =\n    variant.price ??\n    vDet?.variantSugSellPrice ??\n    vDet?.variantSellPrice ??\n    null;\n\n  const stockQty =\n    variant.stock_quantity ??\n    variant.stock ??\n    computeStock(vDet);\n\n  // factorized / compact (pour le front)\n  const opt1 = variant.option1_value ?? null;\n  const opt2 = variant.option2_value ?? null;\n\n  const opt1Factorized = extractTailModel(opt1);\n  const opt2Factorized = extractTailModel(opt2);\n\n  return {\n    json: {\n      // Identifiants variante\n      cj_vid: vid,\n      sku: variant.sku ?? variant.variantSku ?? null,\n\n      // Options (brutes)\n      option1_name: variant.option1_name ?? null,\n      option1_value: opt1,\n      option2_name: variant.option2_name ?? null,\n      option2_value: opt2,\n\n      // Options (compactes / factorisées)\n      option1_value_factorized: opt1Factorized,\n      option2_value_factorized: opt2Factorized,\n\n      // Données business\n      image_url: imageUrl,\n      stock_quantity: stockQty,\n      weight_grams: weightGrams,\n      cost_price: costPrice,\n      price: sellPrice,\n      compare_at_price: variant.compare_at_price ?? null,\n\n      // Images produit (liste complète)\n      images_json: productImageSet.length ? JSON.stringify(productImageSet) : null,\n\n      // FK produit (on remplit les 2 colonnes + relation si tu l’utilises)\n      product_uuid: productId,\n      product_id: productId,\n      products: productId,\n    }\n  };\n});\n\nconst seenSkus = new Set();\nreturn mappedVariants.filter(item => {\n  const sku = item.json.sku;\n  if (!sku) return true; // Keep variants without SKU just in case\n  if (seenSkus.has(sku)) return false; // Drop duplicate SKU\n  seenSkus.add(sku);\n  return true;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1424
      ],
      "id": "000e8e45-a458-43d0-8d45-9a249dfc0bc7",
      "name": "[CJ] 13A - MAP - Prepare Variants"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "cj_pid",
              "value": "={{ $json.pid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        1120
      ],
      "id": "243ad66e-3e18-4b10-8488-9ca954c7bbf1",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "slug": "={{ $json.carry.productNameEn}}-{{ $json.carry.pid }}-{{ $json.carry.sku }}",
            "status": "rejected",
            "ai_feedback": "={{ $json.reason }}",
            "cj_pid": "={{ $json.carry.pid }}",
            "title": "={{ $('[CJ] 06 - MAP - Parse Videur Output').item.json.carry.productNameEn }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        752
      ],
      "id": "6ed881ec-258a-4198-9968-5973d4e48986",
      "name": "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('[CJ] 04 - LOOP - Split In Batches (1 by 1)').item.json.productImage }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        1104
      ],
      "id": "9f0b04cb-f316-47fc-8290-b4e82148e7a2",
      "name": "Product_Img_for_analyse"
    },
    {
      "parameters": {
        "url": "https://developers.cjdropshipping.com/api2.0/v1/product/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pid",
              "value": "={{ $json.carry.pid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5158994@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjY5OCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnlvMHMyT0M5MFhSTTJKU0hvcU8wZnlDVE5yVERld2JNN0NpSE92SlIxTnpsd1NBUDJoc0IrRGtOTm5nYVhaTWY0T29wNU5LV0kwTVZQWDZrQVkrYmNnUDRxazRTQ01TcUdMdHlMVlU2MHE3MnFRcXdWTWk1a005Z0ErcGN1R0VhODVUd2JoZzVPUDRPUlg1YlRTS1BuaVhIYjh1alFiVGRnbk8yTVYvUWhPSGtKRHZlZlRBZVNjNDdvMFUvYVBxVVRYSTlsK0tuY0hFYzcxZzg4bi80Ynd5RTMxVEwxU3JoaVJacEFvNHVkVi9PUyt6ZW1wNkpWS0RobHBzWEcxMkplNytBZVVtN0NUcCtoMzNHMnNlVU1wcz0iLCJpYXQiOjE3NzEwOTE4OTF9.MVX1SPGVbScWWJRw3Vu4Vx1Y8zNr8npAG3_FyzrEqCg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2064,
        1088
      ],
      "id": "48b9c10e-48ba-49fe-9bfb-adceafc72eed",
      "name": "[CJ]_Get_Enrich_Product_Details"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "status": "rejected",
            "slug": "={{ $json.slug }}",
            "cj_pid": "={{ $json.pid }}",
            "ai_feedback": "={{ $json.ai_quality_notes }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        864
      ],
      "id": "12ccf6a4-4bfe-402d-bcf6-c85f4efffbda",
      "name": "[CJ] 14 - DB - Create Product (Rejected - Expert)",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "base_price": "={{ $json.base_price }}",
            "tags": "={{ $json.tags }}",
            "slug": "={{ $json.slug }}",
            "title": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "cj_pid": "={{ $json.cj_pid }}",
            "image": "={{ $json.image }}",
            "ai_feedback": "={{ $json.ai_feedback }}",
            "categories_id": "={{ $json.categories }}",
            "images": "={{ ($json.images || []).filter(Boolean).map(u => String(u).trim()).join(',') }}",
            "brand": "={{ $json.brand }}",
            "reference": "={{ $json.reference }}",
            "country_origin": "={{ $node[\"[LOOP] Master - Une combinaison à la fois\"].json.pays_cible }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_options",
              "displayName": "shipping_options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expert_score",
              "displayName": "expert_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expert_review",
              "displayName": "expert_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retail_price",
              "displayName": "retail_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_origin",
              "displayName": "country_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        1424
      ],
      "id": "36a466f1-47f3-4964-ba17-5c5b31827249",
      "name": "[CJ] 13 - DB - Create Product (Published)",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "product_variants",
          "mode": "list",
          "cachedResultName": "product_variants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "weight_grams": "={{ $json.weight_grams }}",
            "cost_price": "={{ $('[CJ]_Get_Enrich_Product_Details').item.json.data.variants[0].variantSellPrice }}",
            "price": "={{ $json.price }}",
            "cj_vid": "={{ $json.cj_vid }}",
            "sku": "={{ $json.sku }}",
            "option1_name": "={{ $json.option1_name }}",
            "option1_value": "={{ $json.option1_value }}",
            "product_id": "={{ $json.products }}",
            "image_url": "={{ $('[CJ]_Get_Enrich_Product_Details').item.json.data.variants[0].variantImage }}",
            "stock_quantity": "={{ $json.stock_quantity }}",
            "option2_name": "={{ $json.option2_name }}",
            "option2_value": "={{ $json.option2_value }}",
            "option1_value_factorized": "={{ $('[CJ]_Get_Enrich_Product_Details').item.json.data.variants[0].variantKey }}",
            "compare_at_price": "={{ $('[CJ]_Get_Enrich_Product_Details').item.json.data.variants[0].variantSugSellPrice }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_vid",
              "displayName": "cj_vid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option1_name",
              "displayName": "option1_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option1_value",
              "displayName": "option1_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option2_name",
              "displayName": "option2_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option2_value",
              "displayName": "option2_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compare_at_price",
              "displayName": "compare_at_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock_quantity",
              "displayName": "stock_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "weight_grams",
              "displayName": "weight_grams",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "option1_value_factorized",
              "displayName": "option1_value_factorized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_price",
              "displayName": "shipping_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prix_calcule",
              "displayName": "prix_calcule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        1424
      ],
      "id": "5d6eae18-7ef5-483f-bc0f-69c69f76f443",
      "name": "[CJ] 13B - DB - Create Variants",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Pays d'entrepôt : Chine uniquement (car c'est là que sont 99% des produits CJ)\nconst pays = [\"CN\"];\n\n// 2. Les pages à scanner (1 page = 50 produits API CJ). \n// Ici on scanne les 10 premières pages, soit les 500 derniers produits par catégorie.\nconst pages_a_scanner = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; \n\n// 3. Ta liste EXACTE et exhaustive des catégories (Inchangée)\nconst categories = [\n// { nom: \"Coques Téléphones\", id: \"9FA474CF-E06D-4708-AD56-F39FED7F88E3\" },\n// { nom: \"Coques Tablettes\", id: \"87A618B5-7CB0-4AF7-BCF8-9E9455F06B7E\" },\n// { nom: \"Verres & Films\", id: \"51D68796-F1B5-4BDC-B9E0-32C3D9FF6994\" },\n// { nom: \"Housses et Pochettes\", id: \"AD2B299F-EC10-4209-998A-8916AE4D4900\" },\n// { nom: \"Câbles standards\", id: \"00134C46-B7DF-4500-A3D9-ABB7B779EFD0\" },\n// { nom: \"Câbles Data/Multi\", id: \"40CC2ED1-8998-4515-9139-787CC25D42A7\" },\n// { nom: \"Chargeurs Muraux\", id: \"B200FABB-A76B-4750-9957-FEA3DCB21F1F\" },\n// { nom: \"Chargeurs Rapides/Stations\", id: \"6DB79FAF-593D-4F52-B6FF-AB1D14331862\" },\n// { nom: \"Power Banks\", id: \"491E5474-524C-4666-BDD7-4E35E38900EA\" },\n// { nom: \"Ecouteurs & Casques\", id: \"DAECCC3B-13D8-4978-86A8-61D3DF186134\" },\n// { nom: \"Enceintes Portables\", id: \"C1AB7563-AED4-44D8-9F01-05BD91C65307\" },\n// { nom: \"Micros\", id: \"8FD4CA46-AA88-4CDC-8EBA-EBD8412152E2\" },\n// { nom: \"Adaptateurs Audio\", id: \"66D0D817-353B-492E-87A5-024091FF9000\" },\n//  { nom: \"Supports & Bagues\", id: \"9170B3F9-5B9C-4C39-8CD6-7DC00E481D47\" },\n//  { nom: \"Trépieds & Ring Lights\", id: \"11D96803-A0A3-4175-B49B-2102EC285965\" },\n//  { nom: \"Objectifs Photo\", id: \"82643737-E055-4FDF-AD69-4E2C3FB6970B\" },\n//  { nom: \"Bijoux & Gadgets\", id: \"912FD088-248B-4D58-84F7-1F10B888CF8A\" },\n//  { nom: \"Accessoires Tablettes Divers\", id: \"EDC3EDAF-1ED7-4776-8416-E9F8F0A5B4C6\" },\n//  { nom: \"Claviers Tablettes\", id: \"2502190343061609600\" },\n  { nom: \"Trackers Bluetooth\", id: \"B39B6F95-9C89-4D6C-9E98-1633DA6A51CF\" }\n//  { nom: \"Phones & Accessories (Wallet Cases)\" }\n];\n\nconst requetes = [];\n\n// Triple boucle : Pays -> Catégories -> Pages\n// Va générer 1 * 20 * 10 = 200 combinaisons à envoyer au Master Loop\nfor (const p of pays) {\n  for (const cat of categories) {\n    for (const page of pages_a_scanner) {\n      requetes.push({\n        json: {\n          pays_cible: p,\n          categorie_id: cat.id,\n          categorie_nom: cat.nom,\n          numero_page: page\n        }\n      });\n    }\n  }\n}\n\nreturn requetes;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        496
      ],
      "id": "854ebec2-479b-4db9-8437-a57e5b024b00",
      "name": "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        736
      ],
      "id": "4d4b96a9-bdcc-40d6-adee-cab042f157cf",
      "name": "[LOOP] Master - Une combinaison à la fois"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47a071b4-674d-4a34-8ffe-1d079b774f5e",
              "leftValue": "={{ $json.result }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7a3fb821-54f6-47b3-9584-611c43abce4b",
              "leftValue": "={{ $json.data && $json.data.list ? $json.data.list.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        752
      ],
      "id": "67e033c9-79fd-4e75-b846-1bde17a43487",
      "name": "Déjà en base ?1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        752
      ],
      "id": "e1da3cfd-a932-435f-ba6a-ac7d2e547951",
      "name": "Wait",
      "webhookId": "be1a36bc-5b94-4f17-88e9-64fb92c89d0c"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        1104
      ],
      "id": "27e11623-5f3b-4eca-b70e-acc827e16c25",
      "name": "Wait1",
      "webhookId": "f8e4ad3f-a569-4c68-8e0f-590b05c90718"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pays d'entrepôt : Chine uniquement (car c'est là que sont 99% des produits CJ)\nconst pays = [\"CN\"];\n\n// 2. Les pages à scanner (1 page = 50 produits API CJ). \n// Ici on scanne les 10 premières pages, soit les 500 derniers produits par catégorie.\nconst pages_a_scanner = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; \n\n// 3. Ta liste EXACTE et exhaustive des catégories (Inchangée)\nconst categories = [\n// { nom: \"Coques Téléphones\", id: \"9FA474CF-E06D-4708-AD56-F39FED7F88E3\" },\n// { nom: \"Coques Tablettes\", id: \"87A618B5-7CB0-4AF7-BCF8-9E9455F06B7E\" },\n// { nom: \"Verres & Films\", id: \"51D68796-F1B5-4BDC-B9E0-32C3D9FF6994\" },\n// { nom: \"Housses et Pochettes\", id: \"AD2B299F-EC10-4209-998A-8916AE4D4900\" },\n// { nom: \"Câbles standards\", id: \"00134C46-B7DF-4500-A3D9-ABB7B779EFD0\" },\n// { nom: \"Câbles Data/Multi\", id: \"40CC2ED1-8998-4515-9139-787CC25D42A7\" },\n// { nom: \"Chargeurs Muraux\", id: \"B200FABB-A76B-4750-9957-FEA3DCB21F1F\" },\n// { nom: \"Chargeurs Rapides/Stations\", id: \"6DB79FAF-593D-4F52-B6FF-AB1D14331862\" },\n// { nom: \"Power Banks\", id: \"491E5474-524C-4666-BDD7-4E35E38900EA\" },\n// { nom: \"Ecouteurs & Casques\", id: \"DAECCC3B-13D8-4978-86A8-61D3DF186134\" },\n// { nom: \"Enceintes Portables\", id: \"C1AB7563-AED4-44D8-9F01-05BD91C65307\" },\n// { nom: \"Micros\", id: \"8FD4CA46-AA88-4CDC-8EBA-EBD8412152E2\" },\n// { nom: \"Adaptateurs Audio\", id: \"66D0D817-353B-492E-87A5-024091FF9000\" },\n//  { nom: \"Supports & Bagues\", id: \"9170B3F9-5B9C-4C39-8CD6-7DC00E481D47\" },\n//  { nom: \"Trépieds & Ring Lights\", id: \"11D96803-A0A3-4175-B49B-2102EC285965\" },\n//  { nom: \"Objectifs Photo\", id: \"82643737-E055-4FDF-AD69-4E2C3FB6970B\" },\n  { nom: \"Bijoux & Gadgets\", id: \"912FD088-248B-4D58-84F7-1F10B888CF8A\" },\n  { nom: \"Accessoires Tablettes Divers\", id: \"EDC3EDAF-1ED7-4776-8416-E9F8F0A5B4C6\" },\n  { nom: \"Claviers Tablettes\", id: \"2502190343061609600\" },\n  { nom: \"Trackers Bluetooth\", id: \"B39B6F95-9C89-4D6C-9E98-1633DA6A51CF\" }\n];\n\nconst requetes = [];\n\n// Triple boucle : Pays -> Catégories -> Pages\n// Va générer 1 * 20 * 10 = 200 combinaisons à envoyer au Master Loop\nfor (const p of pays) {\n  for (const cat of categories) {\n    for (const page of pages_a_scanner) {\n      requetes.push({\n        json: {\n          pays_cible: p,\n          categorie_id: cat.id,\n          categorie_nom: cat.nom,\n          numero_page: page\n        }\n      });\n    }\n  }\n}\n\nreturn requetes;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        256
      ],
      "id": "cccaa9e7-8aca-4bee-805d-fd622431dd17",
      "name": "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        272
      ],
      "id": "20b3a6aa-7556-4a5c-a2e2-6e435afb9b64",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://developers.cjdropshipping.com/api2.0/v1/product/list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cj_pid",
              "value": "=2502060645261616100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5158994@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjY5OCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnlvMHMyT0M5MFhSTTJKU0hvcU8wZnlDVE5yVERld2JNN0NpSE92SlIxTnpsd1NBUDJoc0IrRGtOTm5nYVhaTWY0T29wNU5LV0kwTVZQWDZrQVkrYmNnUDRxazRTQ01TcUdMdHlMVlU2MHE3MnFRcXdWTWk1a005Z0ErcGN1R0VhODVUd2JoZzVPUDRPUlg1YlRTS1BuaVhIYjh1alFiVGRnbk8yTVYvUWhPSGtKRHZlZlRBZVNjNDdvMFUvYVBxVVRYSTlsK0tuY0hFYzcxZzg4bi80Ynd5RTMxVEwxU3JoaVJacEFvNHVkVi9PUyt6ZW1wNkpWS0RobHBzWEcxMkplNytBZVVtN0NUcCtoMzNHMnNlVU1wcz0iLCJpYXQiOjE3NzEwOTE4OTF9.MVX1SPGVbScWWJRw3Vu4Vx1Y8zNr8npAG3_FyzrEqCg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        272
      ],
      "id": "82bd6707-aafe-484c-9fdd-8bfef02b8eb1",
      "name": "[CJ] 02 - API - Fetch Products (CJ)-cj_pid",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "[CJ] 05 - AI - Filter (Videur)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 02 - API - Fetch Products (CJ)": {
      "main": [
        [
          {
            "node": "Déjà en base ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 03 - MAP - Split CJ List to Items": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 04 - LOOP - Split In Batches (1 by 1)": {
      "main": [
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 05 - AI - Filter (Videur)": {
      "main": [
        [
          {
            "node": "[CJ] 06 - MAP - Parse Videur Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 06 - MAP - Parse Videur Output": {
      "main": [
        [
          {
            "node": "[CJ] 07 - IF - Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 07 - IF - Relevant?": {
      "main": [
        [
          {
            "node": "[CJ]_Get_Enrich_Product_Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 09 - AI - Enhance (Expert)": {
      "main": [
        [
          {
            "node": "[CJ] 10 - MAP - Parse Expert Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 10 - MAP - Parse Expert Output": {
      "main": [
        [
          {
            "node": "[CJ] 11 - IF - Should Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 11 - IF - Should Publish?": {
      "main": [
        [
          {
            "node": "[CJ] 12 - MAP - Build Product (Published Payload)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 14 - DB - Create Product (Rejected - Expert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 12 - MAP - Build Product (Published Payload)": {
      "main": [
        [
          {
            "node": "[CJ] 13 - DB - Create Product (Published)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déjà en base ?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "[CJ] 09 - AI - Enhance (Expert)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13A - MAP - Prepare Variants": {
      "main": [
        [
          {
            "node": "[CJ] 13B - DB - Create Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Déjà en base ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product_Img_for_analyse": {
      "main": [
        [
          {
            "node": "[CJ] 05 - AI - Filter (Videur)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ]_Get_Enrich_Product_Details": {
      "main": [
        [
          {
            "node": "[CJ] 09 - AI - Enhance (Expert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 14 - DB - Create Product (Rejected - Expert)": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13 - DB - Create Product (Published)": {
      "main": [
        [
          {
            "node": "[CJ] 13A - MAP - Prepare Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13B - DB - Create Variants": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)": {
      "main": [
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOOP] Master - Une combinaison à la fois": {
      "main": [
        [
          {
            "node": "[CJ] 15 - END - Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déjà en base ?1": {
      "main": [
        [
          {
            "node": "[CJ] 03 - MAP - Split CJ List to Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "[CJ] 02 - API - Fetch Products (CJ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Product_Img_for_analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "[CJ] 02 - API - Fetch Products (CJ)-cj_pid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 02 - API - Fetch Products (CJ)-cj_pid": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f2bc74da-f5eb-44b4-8210-00d9a3c80b61",
  "meta": {
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  },
  "id": "582qcIYRjmhjFsSo",
  "tags": []
}