n8n-workflows/[koktek_Stripe] - 02 - Payment Succeeded Webhook.json
{
  "name": "[koktek_Stripe] - 02 - Payment Succeeded Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Stripe Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.type}}",
              "value2": "payment_intent.succeeded"
            }
          ]
        }
      },
      "name": "Is Payment Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://admin.koktek.com/items/orders/{{$json.body.data.object.metadata.order_id}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "paid"
            },
            {
              "name": "payment_status",
              "value": "paid"
            },
            {
              "name": "payment_reference",
              "value": "={{$node[\"Stripe Event Webhook\"].json[\"body\"][\"data\"][\"object\"][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Directus Update Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DIRECTUS_TOKEN",
          "name": "Ajoute ici ton Directus Token (Bearer XXXXX) sous le nom d'entête 'Authorization'"
        }
      }
    }
  ],
  "connections": {
    "Stripe Event Webhook": {
      "main": [
        [
          {
            "node": "Is Payment Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Payment Succeeded?": {
      "main": [
        [
          {
            "node": "Directus Update Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
