n8n-workflows/[koktek_CJ] - 01 - IA - Importation de produits UPDATED (Catalog & Country) JoeSmart2.json
{
  "name": "[koktek_CJ] - 01 - IA - Importation de produits UPDATED (Catalog & Country) JoeSmart2",
  "nodes": [
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        976,
        208
      ],
      "id": "b5d685b9-e96f-4eba-bb9e-670dfbfb170c",
      "name": "OpenRouter Chat Model",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://developers.cjdropshipping.com/api2.0/v1/product/list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "countryCode",
              "value": "={{ $json.pays_cible }}"
            },
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "pageNum",
              "value": "={{ $json.numero_page }}"
            },
            {
              "name": "categoryId",
              "value": "={{ $json.categorie_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5184655@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjk0MCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnl1V3Q3blIzZlZvRW82dTVOdG42Z2xiMjB2WTN6TVY4ay9SSHd6RThsNnFqL3g5b3ZnTTdzRnp2M3dyeHlTRVg3eENvU210Tkcycy9wekp5QXBlNFczMjUzYlFWK2ovUHBqbDRjTFJpVnFWM1dPRVRMVlhpME05SmRmakwrdmVEcWw4Q2NMOXJXU2dLZDNRTEIrUDc3SHhRcTFjKzV3ZThQMFhPVEQ5ZS9ZZit0ZVlDemcyUXhsMDYvVmhVNXFrcVRvL2JOd2lnMTFXVi9DaVdGVllkWUQ1cXhsbkVIQVlRQ1RvMDBQTUNIL0lvU0Jjc1hLaHVNOWhwa1p1MFlDWkZwRm90WDM3MmV2VEFuYjNySHFyOWdoYz0iLCJpYXQiOjE3NzE4ODY3NTh9.V-JX1jqJ_4iyONm-vPFYOaYAuuMPOvj1BDDvY40sNOI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -400
      ],
      "id": "1e1c40bd-454e-4898-904d-4b41d384b294",
      "name": "[CJ] 02 - API - Fetch Products (CJ)",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Objectif : convertir data.list (tableau) => items n8n (1 item par produit)\n\nconst list = $json?.data?.list;\n\nif (!Array.isArray(list)) {\n  throw new Error(\"CJ response: data.list introuvable ou non-tableau\");\n}\n\n// Chaque élément de list devient un item n8n\nreturn list.map(p => ({ json: p }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -416
      ],
      "id": "1f9fbb46-049b-4e81-b43a-69213e037fd7",
      "name": "[CJ] 03 - MAP - Split CJ List to Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        -48
      ],
      "id": "b5642e4b-fdd5-40e4-83e7-e1bc690b54ed",
      "name": "[CJ] 04 - LOOP - Split In Batches (1 by 1)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INSTRUCTIONS\nAnalyse l'image jointe (source de vérité) et valide ce produit.\n\n# DONNEES DU PRODUIT\n- PID : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.pid }}\n- Titre (EN) : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productNameEn }}\n- Titre (CN) : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productName }}\n- Categorie CJ : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.categoryName }}\n- Prix : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.sellPrice }}\n- SKU : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productSku }}\n- Image URL : {{ $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"].json.productImage }}",
        "options": {
          "systemMessage": "# ROLE\nTu es l'agent de filtrage qualité d'une boutique d'accessoires pour smartphones/tablettes.\n\n# MISSION PRINCIPALE\nAnalyse l'image jointe. L'image prime sur le texte. Rejette tout produit qui n'est pas strictement un accessoire technique ou périphérique pour téléphone/tablette.\n\n# REGLES DE REJET (is_relevant: false)\nRejette immédiatement :\n- Maroquinerie et Sacs : Sacs à main, portefeuilles, valises, trousses (Exception : pochettes étanches transparentes pour smartphone). Si cela ressemble à un sac à main classique, rejette.\n- Bijoux et Vetements : Bagues, colliers pour humains (seuls les bijoux/chaines s'accrochant au téléphone sont acceptés).\n- Maison et Auto : Boites de rangement, décoration, pièces auto, désodorisants.\n- Electromenager : Tout appareil non lié à la charge ou à l'audio (ex: ventilateurs, rasoirs).\n- En cas de doute : rejette.\n\n# REGLES D'ACCEPTATION (is_relevant: true)\nAccepte uniquement : Coques, verres trempés, câbles, chargeurs, batteries externes, écouteurs, enceintes Bluetooth, supports (voiture/bureau), trépieds, lanières/bijoux de téléphone.\n\n# FORMAT DE SORTIE ATTENDU\nRenvoie uniquement un objet JSON valide avec la structure suivante :\n{\n  \"is_relevant\": boolean,\n  \"reason\": \"Explication courte et technique\",\n  \"suggested_category\": \"coques-protections|charge-energie|audio-son|supports-fixations|decoration-goodies|autres|null\",\n  \"carry\": {\n    \"pid\": \"Copie exacte de l'entrée\",\n    \"productName\": \"Copie exacte de l'entrée\",\n    \"productNameEn\": \"Copie exacte de l'entrée\",\n    \"sellPrice\": \"Copie exacte de l'entrée\",\n    \"productImage\": \"Copie exacte de l'entrée\",\n    \"categoryName\": \"Copie exacte de l'entrée\",\n    \"sku\": \"Copie exacte de l'entrée\"\n  }\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        -48
      ],
      "id": "83357e3d-e552-4cb4-bace-b34be697c8ce",
      "name": "[CJ] 05 - AI - Filter (Videur)",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const raw = $json?.output;\n\n// Récupérer le produit source (pour ne pas perdre pid, images, etc.)\nlet carrySrc;\ntry {\n  carrySrc = $node[\"[CJ] 04 - LOOP - Split In Batches (1 by 1)\"]?.json;\n} catch (e) {\n  carrySrc = undefined;\n}\n\nconst carry = carrySrc\n  ? {\n      pid: carrySrc.pid ?? null,\n      productName: carrySrc.productName ?? null,\n      productNameEn: carrySrc.productNameEn ?? null,\n      productSku: carrySrc.productSku ?? null,\n      productImage: carrySrc.productImage ?? null,\n      productWeight: carrySrc.productWeight ?? null,\n      categoryName: carrySrc.categoryName ?? null,\n      categoryId: carrySrc.categoryId ?? null,\n      sellPrice: carrySrc.sellPrice ?? null,\n      remark: carrySrc.remark ?? null,\n      isFreeShipping: carrySrc.isFreeShipping ?? null,\n      isTestProduct: carrySrc.isTestProduct ?? null,\n      shippingCountryCodes: carrySrc.shippingCountryCodes ?? null,\n    }\n  : null;\n\nfunction reject(reason) {\n  return [\n    {\n      json: {\n        is_relevant: false,\n        matched_brand: null,\n        category_slug: null,\n        reason,\n        carry,\n        raw_output: raw ?? null,\n      },\n    },\n  ];\n}\n\n// 1) Si l'AI node renvoie déjà un objet JSON\nif (raw && typeof raw === \"object\") return [{ json: raw }];\n\n// 2) Si output absent / vide / non string => rejet propre (au lieu de throw)\nif (typeof raw !== \"string\" || !raw.trim()) {\n  return reject(\"Videur: output vide ou non-string (réponse IA invalide).\");\n}\n\nconst text = raw.trim();\n\n// 3) Tentative parse direct (si l'output est un JSON pur)\ntry {\n  return [{ json: JSON.parse(text) }];\n} catch (e) {}\n\n// 4) Tentative extraction entre { ... } (si texte autour)\nconst start = text.indexOf(\"{\");\nconst end = text.lastIndexOf(\"}\");\nif (start !== -1 && end !== -1 && end > start) {\n  const slice = text.slice(start, end + 1);\n  try {\n    return [{ json: JSON.parse(slice) }];\n  } catch (e) {}\n}\n\n// 5) Sinon: rejet propre (le workflow continue)\nreturn reject(\"Videur: output non-JSON (le modèle a répondu en texte).\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -48
      ],
      "id": "1cf2b17a-9e2c-49a3-adba-beae61032a2f",
      "name": "[CJ] 06 - MAP - Parse Videur Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92b80384-8af4-415e-8c9f-b6b7a2283dff",
              "leftValue": "={{ $json.is_relevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        -48
      ],
      "id": "8afd0d4f-e4a5-4e36-bd94-996354694dad",
      "name": "[CJ] 07 - IF - Relevant?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INSTRUCTIONS\n1. Juge la qualite visuelle (Rejette si cheap).\n2. Si accepte, definis la Categorie et la Marque.\n3. Redige une description concise (1 seul paragraphe court) suivie d'une Fiche Technique (liste HTML).\n4. Nettoie et traduis les variantes en CONSERVANT OBLIGATOIREMENT la couleur et le modele. Supprime la partie redondante.\n\n# DONNEES TECHNIQUES (CJ)\n- PID : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.pid }}\n- Titre Original (EN) : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.productNameEn }}\n- Description (HTML brut CJ) : {{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.description }}\n\n# IMAGES DISPONIBLES\n{{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.productImageSet }}\n\n# VARIANTES A NETTOYER ET TRADUIRE\n{{ $node[\"[CJ]_Get_Enrich_Product_Details\"].json.data.variants }}",
        "options": {
          "systemMessage": "# ROLE\nTu es l'Expert Merchandiser, Copywriter et Directeur Artistique de KOKTEK, une boutique premium d'accessoires pour smartphones. Ton style de redaction est celui d'un Journaliste Tech passionne.\n\n# MISSION 1 : CONTROLE QUALITE VISUEL (ELIMINATOIRE)\nAnalyse la ou les photos du produit. Ta boutique est PREMIUM.\n- REJETTE (should_publish: false) si : la photo fait amateur, montre le produit dans un emballage plastique cheap, a des filigranes chinois enormes, ou fait \"bas de gamme\".\n- ACCEPTE (should_publish: true) si la photo est propre, bien detouree ou mise en scene de facon esthetique.\n\n# MISSION 2 : CLASSIFICATION STRICTE\n1. CATEGORIE : Choisis UNE SEULE categorie parmi : coques-protections, charge-energie, audio-son, supports-fixations, decoration-goodies, autres.\n2. MARQUE :\n   - REGLE D'OR : Si la categorie est coques-protections, tu DOIS OBLIGATOIREMENT renseigner la marque compatible (Ex: Apple, Samsung, Xiaomi, Google Pixel). Si impossible a determiner -> REJETTE le produit.\n   - Pour les accessoires universels (cables, chargeurs), la marque doit etre Autres.\n\n# MISSION 3 : REDACTION CONCISE ET EFFICACE\nLe champ \"description\" DOIT etre structure en DEUX parties distinctes et concises :\n1. PARTIE MARKETING : Redige UN SEUL paragraphe court et percutant. Rentre direct dans le vif du sujet. Ne commence JAMAIS par des formules toutes faites comme \"Le mot de l'expert\", \"Decouvrez\", ou \"Notre avis\".\n2. PARTIE TECHNIQUE : Sous le pitch marketing, ajoute une liste a puces HTML (<ul><li>) avec les caracteristiques brutes essentielles (Matiere, poids, compatibilite, particularites).\n\n# MISSION 4 : NETTOYAGE DES VARIANTES (CRITIQUE)\nLes noms originaux sont des suites de mots-cles redondantes. Tu dois les nettoyer en respectant cette REGLE ABSOLUE :\n- Tu DOIS IMPERATIVEMENT conserver la COULEUR (ou le motif) ET le MODELE compatible.\n- IDENTIFIE la partie du texte qui se repete sur toutes les variantes (le blabla SEO ou le nom global du produit) et SUPPRIME-LA.\n- TRADUIS en francais elegant.\n- FORMAT ATTENDU : \"Couleur/Motif - Modele\" (Exemple : \"Bleu Nuit - iPhone 15 Pro Max\"). Ne supprime jamais la couleur.\n\n# FORMAT DE SORTIE (JSON STRICT UNIQUEMENT)\n{\n  \"should_publish\": boolean,\n  \"quality_notes\": \"Explication du rejet ou de l'acceptation.\",\n  \"category_slug\": \"string\",\n  \"product\": {\n    \"title\": \"Titre propre et court en FR\",\n    \"slug\": \"titre-propre-et-court\",\n    \"description\": \"<p>Un seul paragraphe marketing percutant qui va droit au but.</p><h2>Fiche Technique</h2><ul><li>Point 1</li><li>Point 2</li></ul>\",\n    \"brand\": \"Marque obligatoire\",\n    \"tags\": [\"tag1\", \"tag2\", \"tag3\"],\n    \"images\": [\"url1\", \"url2\"]\n  },\n  \"variant_translations\": {\n    \"Nom Original Horrible Et Long 1\": \"Couleur - Modele 1\",\n    \"Nom Original Horrible Et Long 2\": \"Couleur - Modele 2\"\n  }\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2080,
        -64
      ],
      "id": "31ede143-0859-4e47-b274-7a6ea2c3fdff",
      "name": "[CJ] 09 - AI - Enhance (Expert)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération de la réponse IA\nconst raw = $json.output;\nlet cleanRaw = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\nconst start = cleanRaw.indexOf(\"{\");\nconst end = cleanRaw.lastIndexOf(\"}\");\nif (start === -1) throw new Error(\"No JSON found\");\nconst aiData = JSON.parse(cleanRaw.slice(start, end + 1));\n\n// 2. Récupération des données SOURCE FIABLES (CJ Details)\nconst detailNode = $node[\"[CJ]_Get_Enrich_Product_Details\"];\nif (!detailNode || !detailNode.json || !detailNode.json.data) {\n    throw new Error(\"Source CJ Details introuvable !\");\n}\nconst cjData = detailNode.json.data;\nconst cjVariants = cjData.variants || [];\n\n// 3. MAPPING DES CATÉGORIES\nconst categoryMap = {\n    'coques-protections': 1, 'charge-energie': 2, 'audio-son': 3,\n    'supports-fixations': 4, 'decoration-goodies': 5, 'autres': 6\n};\n\n// 4. CONSTRUCTION INTELLIGENTE DES VARIANTES (On connecte l'IA !)\nconst aiTranslations = aiData.variant_translations || {};\n\nconst cleanVariants = cjVariants.map(v => {\n    const originalName = v.variantNameEn || v.variantName || \"\";\n    \n    // On va chercher la belle traduction (Couleur - Modèle) faite par l'IA\n    let cleanName = aiTranslations[originalName] || originalName;\n    \n    // Nettoyage de secours si l'IA a oublié de traduire cette variante\n    if (cleanName === originalName) {\n        cleanName = cleanName.replace(/Apple/ig, \"\").replace(/Phone Case/ig, \"\").trim();\n    }\n    \n    return {\n        vid: String(v.vid),\n        sku: String(v.variantSku),\n        name: cleanName,\n        price: parseFloat(v.variantSellPrice)\n    };\n});\n\n// 5. OBJET FINAL (Blindé contre les crashs)\nconst merged = {\n    should_publish: aiData.should_publish || false,\n    pid: String(cjData.pid),\n    \n    // L'astuce ?. empêche le crash. Si l'IA n'a rien généré, on utilise le titre original CJ.\n    title: aiData.product?.title || cjData.productNameEn || \"Produit Rejeté\",\n    slug: aiData.product?.slug || \"produit-rejete\",\n    description: aiData.product?.description || \"Aucune description.\",\n    brand: aiData.product?.brand || \"Autres\",\n    tags: aiData.product?.tags || [],\n    \n    images: cjData.productImageSet || [],\n    variants: cleanVariants, // Maintenant, les couleurs sont protégées !\n    \n    nc_category_id: categoryMap[aiData.category_slug] || 6,\n    base_price: cjData.sellPrice,\n    ai_quality_notes: aiData.quality_notes || \"Aucune note\"\n};\n\nreturn { json: merged };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -64
      ],
      "id": "b197abeb-2143-4060-8116-8afba74f7bba",
      "name": "[CJ] 10 - MAP - Parse Expert Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c67d5075-b745-466a-ad80-2e5c84547f06",
              "leftValue": "={{ $json.should_publish }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        -64
      ],
      "id": "06463204-d085-4a57-8a55-8ee6b82ffddf",
      "name": "[CJ] 11 - IF - Should Publish?"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\n// --- 1. LA CARTE AU TRÉSOR (UUIDs NocoDB) ---\nconst CATEGORY_UUIDS = {\n  1: \"3e40840a-5111-44ef-b264-a75b836b9138\", // Coques & protections\n  2: \"81c1a551-4ce4-40f7-a096-e85fc9f74a71\", // Charge & énergie\n  3: \"64900192-a354-41c1-8f35-a1d13299352e\", // Audio & son\n  4: \"46484275-e161-4bef-8a71-f67d51cb639f\", // Supports & fixations\n  5: \"2070f06d-c3e0-4253-947d-374f8f46368a\", // Décoration & goodies\n  6: \"7167a98a-60dd-4f78-9a56-e206813d4a3c\"  // Autres\n};\n\n// --- 2. SÉCURISATION & CALCULS ---\nconst safePrice = parseFloat(p.base_price) || 0;\nconst aiCategoryNumber = parseInt(p.nc_category_id);\nconst finalCategoryUUID = CATEGORY_UUIDS[aiCategoryNumber] || CATEGORY_UUIDS[6];\n\nconst mainImage = (Array.isArray(p.images) && p.images.length > 0) ? p.images[0] : null;\nconst tagsArray = Array.isArray(p.tags) ? p.tags : [];\nconst imagesArray = Array.isArray(p.images) ? p.images : [];\n\n// --- 3. CRÉATION DU PAQUET ---\nreturn [\n  {\n    json: {\n      title: String(p.title || \"\").substring(0, 255),\n      slug: String(p.slug || \"\"),\n      description: String(p.description || \"\"),\n      base_price: safePrice,\n      cj_pid: String(p.pid),\n      status: \"published\",\n      brand: String(p.brand || \"Universel\"),\n      reference: String(p.sku || `CJ-${p.pid}`),\n      image: mainImage,\n      images: imagesArray,  \n      tags: tagsArray,      \n      categories: finalCategoryUUID, // CORRECTION : Virgule ajoutée et nom variable fixé\n      ai_feedback: String(p.ai_quality_notes || \"RAS\"),\n      _VARIANTS_READY: (p.variants || []).map(v => ({\n          cj_vid: String(v.vid),\n          sku: String(v.sku),\n          option1_name: \"Modèle\",\n          option1_value: String(v.name),\n          price: parseFloat(v.price) || safePrice\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        272
      ],
      "id": "e17487bf-4211-453c-981d-118dc1d7a441",
      "name": "[CJ] 12 - MAP - Build Product (Published Payload)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        -608
      ],
      "id": "2cc50beb-be4a-40a0-8a54-4ee4ddc678fa",
      "name": "[CJ] 15 - END - Done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47a071b4-674d-4a34-8ffe-1d079b774f5e",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -32
      ],
      "id": "85e2e9ea-c321-4fd7-83fb-4ca3c57d5ff2",
      "name": "Déjà en base ?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -416
      ],
      "id": "3a2d37f4-f463-420e-9887-d50de0a84c93",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2080,
        144
      ],
      "id": "e9f3db56-f229-46b2-adcb-defbf0f39e4e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// [CJ] 13A - MAP - Prepare Variants\n// Objectif : 1 item par variante avec champs utiles + FK produit + valeurs \"factorized\" robustes\n\n// 1) ID du produit créé (node 13 en input direct)\nconst createdProduct = $input.first().json;\nconst productId = createdProduct.Id || createdProduct.id;\n\nif (!productId) {\n  throw new Error(\"Impossible de trouver l'ID du produit créé (Id/id manquant).\");\n}\n\n// 2) Variantes préparées dans le node 12\nconst previousData = $node[\"[CJ] 12 - MAP - Build Product (Published Payload)\"].json;\nconst variantsList = previousData._VARIANTS_READY || [];\n\n// 3) Détails produit/variants (node API) -> 1 seul item, donc OK ici\nconst apiItem = $node[\"[CJ]_Get_Enrich_Product_Details\"].json;\nconst details = apiItem?.data || {};\nconst detailsVariants = Array.isArray(details.variants) ? details.variants : [];\nconst productImageSet = Array.isArray(details.productImageSet) ? details.productImageSet : [];\n\nfunction norm(s) {\n  return String(s ?? \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction rightWordSlice(raw, min = 20, max = 35) {\n  const s = norm(raw);\n  if (!s) return null;\n  if (s.length <= max) return s;\n\n  const delims = [\" \", \"-\", \"_\", \"/\", \"|\"];\n\n  const lastDelimBefore = (str, idx) => {\n    let best = -1;\n    for (const d of delims) {\n      const p = str.lastIndexOf(d, idx);\n      if (p > best) best = p;\n    }\n    return best;\n  };\n\n  const firstDelimAfter = (str, idx) => {\n    for (let i = idx; i < str.length; i++) {\n      if (delims.includes(str[i])) return i;\n    }\n    return -1;\n  };\n\n  // coupe à droite sur max, puis ajuste au prochain séparateur pour ne pas couper un mot\n  let start = s.length - max;\n  const next = firstDelimAfter(s, start);\n  if (next !== -1 && (s.length - (next + 1)) >= min) start = next + 1;\n\n  let out = s.slice(start).trim();\n\n  // si trop court, on recule au séparateur précédent (peut dépasser max un peu, accepté)\n  if (out.length < min) {\n    const start2 = Math.max(0, s.length - min);\n    const prev = lastDelimBefore(s, start2);\n    if (prev !== -1) out = s.slice(prev + 1).trim();\n    else out = s.slice(start2).trim();\n  }\n\n  return out || null;\n}\n\nfunction extractTailModel(raw) {\n  const s = norm(raw);\n  if (!s) return null;\n\n  // 1) iPhone (inclut iPhone16E, iPhone15ProMax, XSmax, XR, X, SE, etc.)\n  const rApple =\n    /(?:\\b(?:iPhone|IPhone|iphone)\\b\\s*)?(?:(?:\\d{1,2}[A-Za-z]?)|(?:XS\\s*Max|XSmax|XS|XR|Xr|X|SE|Se))(?:\\s*(?:Pro\\s*Max|ProMax|Promax|promax|Pro|PRO|Max|MAX|Plus|PLUS|mini|Mini|Air|AIR))?\\s*$/;\n\n  // 2) Samsung / Galaxy (générique)\n  const rSamsung =\n    /(?:\\b(?:Samsung|SAMSUNG|samsung|Galaxy|GALAXY|galaxy)\\b\\s*)?(?:Note\\s*)?(?:[SAMZ]\\s*)?\\d{1,2}(?:\\s*(?:Ultra|ULTRA|Plus|PLUS|Pro|PRO|FE|Fe|Lite|LITE|Max|MAX))?\\s*$/;\n\n  const m1 = s.match(rApple);\n  if (m1 && m1[0]) return m1[0].trim();\n\n  const m2 = s.match(rSamsung);\n  if (m2 && m2[0]) return m2[0].trim();\n\n  // 3) fallback robuste (fin de chaîne 20–35 sans couper)\n  return rightWordSlice(s, 20, 35);\n}\n\nfunction toNumber(v, fallback = null) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction computeStock(vDet) {\n  if (!vDet) return 0;\n\n  // CJ renvoie parfois inventoryNum ou un tableau inventories\n  if (vDet.inventoryNum !== null && vDet.inventoryNum !== undefined) {\n    return toNumber(vDet.inventoryNum, 0);\n  }\n\n  const invs = vDet.inventories;\n  if (Array.isArray(invs)) {\n    return invs.reduce((sum, i) => sum + (toNumber(i?.inventoryNum, 0) || 0), 0);\n  }\n\n  return 0;\n}\n\n// 4) Sortie : 1 ligne par variante\nreturn variantsList.map((variant) => {\n  const vid = variant.cj_vid ?? variant.vid ?? null;\n\n  // matching sur l'API (sécurisé)\n  const vDet =\n    detailsVariants.find((x) => String(x?.vid) === String(vid)) || null;\n\n  // champs variant (priorité : ce que tu as déjà, sinon API)\n  const imageUrl =\n    variant.image_url ||\n    variant.variant_image ||\n    variant.variantImage ||\n    vDet?.variantImage ||\n    null;\n\n  const weightGrams =\n    variant.weight_grams ??\n    vDet?.variantWeight ??\n    null;\n\n  const costPrice =\n    variant.cost_price ??\n    vDet?.variantSellPrice ??\n    null;\n\n  const sellPrice =\n    variant.price ??\n    vDet?.variantSugSellPrice ??\n    vDet?.variantSellPrice ??\n    null;\n\n  const stockQty =\n    variant.stock_quantity ??\n    variant.stock ??\n    computeStock(vDet);\n\n  // factorized / compact (pour le front)\n  const opt1 = variant.option1_value ?? null;\n  const opt2 = variant.option2_value ?? null;\n\n  const opt1Factorized = extractTailModel(opt1);\n  const opt2Factorized = extractTailModel(opt2);\n\n  return {\n    json: {\n      // Identifiants variante\n      cj_vid: vid,\n      sku: variant.sku ?? variant.variantSku ?? null,\n\n      // Options (brutes)\n      option1_name: variant.option1_name ?? null,\n      option1_value: opt1,\n      option2_name: variant.option2_name ?? null,\n      option2_value: opt2,\n\n      // Options (compactes / factorisées)\n      option1_value_factorized: opt1Factorized,\n      option2_value_factorized: opt2Factorized,\n\n      // Données business\n      image_url: imageUrl,\n      stock_quantity: stockQty,\n      weight_grams: weightGrams,\n      cost_price: costPrice,\n      price: sellPrice,\n      compare_at_price: variant.compare_at_price ?? null,\n\n      // Images produit (liste complète)\n      images_json: productImageSet.length ? JSON.stringify(productImageSet) : null,\n\n      // FK produit (on remplit les 2 colonnes + relation si tu l’utilises)\n      product_uuid: productId,\n      product_id: productId,\n      products: productId,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        272
      ],
      "id": "99e3eb4f-236a-4eb5-a775-a89b977b06be",
      "name": "[CJ] 13A - MAP - Prepare Variants"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "cj_pid",
              "value": "={{ $json.pid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        -32
      ],
      "id": "b96bfbd6-1b23-4276-9132-d4d0b31da137",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "slug": "={{ $json.carry.productNameEn}}-{{ $json.carry.pid }}-{{ $json.carry.sku }}",
            "status": "rejected",
            "ai_feedback": "={{ $json.reason }}",
            "cj_pid": "={{ $json.carry.pid }}",
            "title": "={{ $('[CJ] 06 - MAP - Parse Videur Output').item.json.carry.productNameEn }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        -400
      ],
      "id": "507f426c-2958-4f0d-b06b-5481f45c55c9",
      "name": "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('[CJ] 04 - LOOP - Split In Batches (1 by 1)').item.json.productImage }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -48
      ],
      "id": "e4d25c19-a8f7-4d21-930e-469730765a54",
      "name": "Product_Img_for_analyse"
    },
    {
      "parameters": {
        "url": "https://developers.cjdropshipping.com/api2.0/v1/product/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pid",
              "value": "={{ $json.carry.pid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5184655@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjk0MCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnl1V3Q3blIzZlZvRW82dTVOdG42Z2xiMjB2WTN6TVY4ay9SSHd6RThsNnFqL3g5b3ZnTTdzRnp2M3dyeHlTRVg3eENvU210Tkcycy9wekp5QXBlNFczMjUzYlFWK2ovUHBqbDRjTFJpVnFWM1dPRVRMVlhpME05SmRmakwrdmVEcWw4Q2NMOXJXU2dLZDNRTEIrUDc3SHhRcTFjKzV3ZThQMFhPVEQ5ZS9ZZit0ZVlDemcyUXhsMDYvVmhVNXFrcVRvL2JOd2lnMTFXVi9DaVdGVllkWUQ1cXhsbkVIQVlRQ1RvMDBQTUNIL0lvU0Jjc1hLaHVNOWhwa1p1MFlDWkZwRm90WDM3MmV2VEFuYjNySHFyOWdoYz0iLCJpYXQiOjE3NzE4ODY3NTh9.V-JX1jqJ_4iyONm-vPFYOaYAuuMPOvj1BDDvY40sNOI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        -64
      ],
      "id": "eb386963-21d1-40b1-a10b-73281114045f",
      "name": "[CJ]_Get_Enrich_Product_Details"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "= {{ $json.title }}",
            "status": "rejected",
            "slug": "={{ $json.slug }}",
            "cj_pid": "={{ $json.pid }}",
            "ai_feedback": "={{ $json.ai_quality_notes }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        -288
      ],
      "id": "9aa548a1-0384-4a48-9c0b-b35047781073",
      "name": "[CJ] 14 - DB - Create Product (Rejected - Expert)",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "base_price": "={{ $json.base_price }}",
            "tags": "={{ $json.tags }}",
            "slug": "={{ $json.slug }}",
            "title": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "cj_pid": "={{ $json.cj_pid }}",
            "image": "={{ $json.image }}",
            "ai_feedback": "={{ $json.ai_feedback }}",
            "categories_id": "={{ $json.categories }}",
            "images": "={{ ($json.images || []).filter(Boolean).map(u => String(u).trim()).join(',') }}",
            "brand": "={{ $json.brand }}",
            "reference": "={{ $json.reference }}",
            "country_origin": "={{ $node[\"[LOOP] Master - Une combinaison à la fois\"].json.pays_cible }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_options",
              "displayName": "shipping_options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expert_score",
              "displayName": "expert_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expert_review",
              "displayName": "expert_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retail_price",
              "displayName": "retail_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_origin",
              "displayName": "country_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        272
      ],
      "id": "7c248def-03c8-4ae2-a7b0-d7ed6ba8d4c3",
      "name": "[CJ] 13 - DB - Create Product (Published)",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "product_variants",
          "mode": "list",
          "cachedResultName": "product_variants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "weight_grams": "={{ $json.weight_grams }}",
            "cost_price": "={{ $json.price }}",
            "price": "={{ $json.price }}",
            "cj_vid": "={{ $json.cj_vid }}",
            "sku": "={{ $json.sku }}",
            "option1_name": "={{ $json.option1_name }}",
            "option1_value": "={{ $json.option1_value }}",
            "product_id": "={{ $json.products }}",
            "image_url": "={{ $json.image_url }}",
            "stock_quantity": "={{ $json.stock_quantity }}",
            "option2_name": "={{ $json.option2_name }}",
            "option2_value": "={{ $json.option2_value }}",
            "option1_value_factorized": "={{ $json.option1_value_factorized }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cj_vid",
              "displayName": "cj_vid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option1_name",
              "displayName": "option1_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option1_value",
              "displayName": "option1_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option2_name",
              "displayName": "option2_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option2_value",
              "displayName": "option2_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compare_at_price",
              "displayName": "compare_at_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock_quantity",
              "displayName": "stock_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "weight_grams",
              "displayName": "weight_grams",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "option1_value_factorized",
              "displayName": "option1_value_factorized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        272
      ],
      "id": "76c5233a-966c-4d08-83fe-dc04a5504062",
      "name": "[CJ] 13B - DB - Create Variants",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Nos 6 pays cibles (Europe + Chine + US)\nconst pays = [\"FR\", \"DE\", \"GB\", \"ES\", \"CN\", \"US\"];\n\n// 2. Les pages à scanner (1 page = 50 produits). \n// Pour le début de la boutique, mets [1, 2, 3, 4] pour récupérer les 200 derniers produits de chaque catégorie/pays. \n// Plus tard, tu ne laisseras que [1] pour ta routine quotidienne.\nconst pages_a_scanner = [1]; \n\n// 3. Ta liste EXACTE et exhaustive\nconst categories = [\n  { nom: \"Coques Téléphones\", id: \"9FA474CF-E06D-4708-AD56-F39FED7F88E3\" },\n  { nom: \"Coques Tablettes\", id: \"87A618B5-7CB0-4AF7-BCF8-9E9455F06B7E\" },\n  { nom: \"Verres & Films\", id: \"51D68796-F1B5-4BDC-B9E0-32C3D9FF6994\" },\n  { nom: \"Housses et Pochettes\", id: \"AD2B299F-EC10-4209-998A-8916AE4D4900\" },\n  { nom: \"Câbles standards\", id: \"00134C46-B7DF-4500-A3D9-ABB7B779EFD0\" },\n  { nom: \"Câbles Data/Multi\", id: \"40CC2ED1-8998-4515-9139-787CC25D42A7\" },\n  { nom: \"Chargeurs Muraux\", id: \"B200FABB-A76B-4750-9957-FEA3DCB21F1F\" },\n  { nom: \"Chargeurs Rapides/Stations\", id: \"6DB79FAF-593D-4F52-B6FF-AB1D14331862\" },\n  { nom: \"Power Banks\", id: \"491E5474-524C-4666-BDD7-4E35E38900EA\" },\n  { nom: \"Ecouteurs & Casques\", id: \"DAECCC3B-13D8-4978-86A8-61D3DF186134\" },\n  { nom: \"Enceintes Portables\", id: \"C1AB7563-AED4-44D8-9F01-05BD91C65307\" },\n  { nom: \"Micros\", id: \"8FD4CA46-AA88-4CDC-8EBA-EBD8412152E2\" },\n  { nom: \"Adaptateurs Audio\", id: \"66D0D817-353B-492E-87A5-024091FF9000\" },\n  { nom: \"Supports & Bagues\", id: \"9170B3F9-5B9C-4C39-8CD6-7DC00E481D47\" },\n  { nom: \"Trépieds & Ring Lights\", id: \"11D96803-A0A3-4175-B49B-2102EC285965\" },\n  { nom: \"Objectifs Photo\", id: \"82643737-E055-4FDF-AD69-4E2C3FB6970B\" },\n  { nom: \"Bijoux & Gadgets\", id: \"912FD088-248B-4D58-84F7-1F10B888CF8A\" },\n  { nom: \"Accessoires Tablettes Divers\", id: \"EDC3EDAF-1ED7-4776-8416-E9F8F0A5B4C6\" },\n  { nom: \"Claviers Tablettes\", id: \"2502190343061609600\" },\n  { nom: \"Trackers Bluetooth\", id: \"B39B6F95-9C89-4D6C-9E98-1633DA6A51CF\" }\n];\n\nconst requetes = [];\n\n// Triple boucle : Pays -> Catégories -> Pages\nfor (const p of pays) {\n  for (const cat of categories) {\n    for (const page of pages_a_scanner) {\n      requetes.push({\n        json: {\n          pays_cible: p,\n          categorie_id: cat.id,\n          categorie_nom: cat.nom,\n          numero_page: page\n        }\n      });\n    }\n  }\n}\n\nreturn requetes;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -416
      ],
      "id": "732ccbf4-ffc3-4f33-adc3-ad0b33e03c53",
      "name": "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        -416
      ],
      "id": "e934b51b-6773-4c7d-900a-15101307d4f1",
      "name": "[LOOP] Master - Une combinaison à la fois"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47a071b4-674d-4a34-8ffe-1d079b774f5e",
              "leftValue": "={{ $json.result }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7a3fb821-54f6-47b3-9584-611c43abce4b",
              "leftValue": "={{ $json.data && $json.data.list ? $json.data.list.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -400
      ],
      "id": "909071ff-b373-4826-9bbe-5ab3b0c63520",
      "name": "Déjà en base ?1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        -400
      ],
      "id": "ad1850af-4332-49b0-ac3b-b02caec2047f",
      "name": "Wait",
      "webhookId": "be1a36bc-5b94-4f17-88e9-64fb92c89d0c"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        -48
      ],
      "id": "43b9f0bd-8c0d-4822-a481-d3db1ac0b544",
      "name": "Wait1",
      "webhookId": "f8e4ad3f-a569-4c68-8e0f-590b05c90718"
    },
    {
      "parameters": {
        "content": "## [\n  {\n    \"code\": 200,\n    \"result\": true,\n    \"message\": \"Success\",\n    \"data\": {\n      \"openId\": 32940,\n      \"accessToken\": \"API@CJ5184655@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjk0MCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnl1V3Q3blIzZlZvRW82dTVOdG42Z2xiMjB2WTN6TVY4ay9SSHd6RThsNnFqL3g5b3ZnTTdzRnp2M3dyeHlTRVg3eENvU210Tkcycy9wekp5QXBlNFczMjUzYlFWK2ovUHBqbDRjTFJpVnFWM1dPRVRMVlhpME05SmRmakwrdmVEcWw4Q2NMOXJXU2dLZDNRTEIrUDc3SHhRcTFjKzV3ZThQMFhPVEQ5ZS9ZZit0ZVlDemcyUXhsMDYvVmhVNXFrcVRvL2JOd2lnMTFXVi9DaVdGVllkWUQ1cXhsbkVIQVlRQ1RvMDBQTUNIL0lvU0Jjc1hLaHVNOWhwa1p1MFlDWkZwRm90WDM3MmV2VEFuYjNySHFyOWdoYz0iLCJpYXQiOjE3NzE4ODY3NTh9.V-JX1jqJ_4iyONm-vPFYOaYAuuMPOvj1BDDvY40sNOI\",\n      \"accessTokenExpiryDate\": \"2026-03-10T22:45:58+08:00\",\n      \n\n\"refreshToken\": \"API@CJ5184655@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjk0MCIsInR5cGUiOiJSRUZSRVNIX1RPS0VOIiwic3ViIjoiYnFMb2JxUTBsbU5ueVFweFBXTFp5dVd0N25SM2ZWb0VvNnU1TnRuNmdsYjIwdlkzek1WOGsvUkh3ekU4bDZxai94OW92Z003c0Z6djN3cnh5U0VYNzd5N3BFWWdEd1FiTDVYOXIycXZoS201M2JRVitqL1Bwamw0Y0xSaVZxVjNXT0VUTFZYaTBNOUpkZmpMK3ZlRHFsOENjTDlyV1NnS2QzUUxCK1A3N0h4UXExYys1d2U4UDBYT1REOWUvWWYrdGVZQ3pnMlF4bDA2L1ZoVTVxa3FUby9iTndpZzExV1YvQ2lXRlZZZFlENXF4bG5FSEFZUUNUbzAwUE1DSC9Jb1NCY3NYS2h1TTlocGtadTBZQ1pGcEZvdFgzNzJldlRBbmIzckhxcjlnaGM9IiwiaWF0IjoxNzcxODg2NzU4fQ.rMBDahdGwjD-SEVADrGXo6m520bwG0EYo297TQjS1Go\",\n      \"refreshTokenExpiryDate\": \"2026-08-22T22:45:58+08:00\",\n      \"createDate\": \"2026-02-23T22:45:58+08:00\"\n    },\n    \"requestId\": \"c9a4d0af7b28489b84c3587a9b1f8e7f\",\n    \"success\": true\n  }\n]",
        "height": 384,
        "width": 2112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -1152
      ],
      "typeVersion": 1,
      "id": "46be65aa-95bf-47f0-a3d2-3e242a0f3ef6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "[CJ] 05 - AI - Filter (Videur)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 02 - API - Fetch Products (CJ)": {
      "main": [
        [
          {
            "node": "Déjà en base ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 03 - MAP - Split CJ List to Items": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 04 - LOOP - Split In Batches (1 by 1)": {
      "main": [
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 05 - AI - Filter (Videur)": {
      "main": [
        [
          {
            "node": "[CJ] 06 - MAP - Parse Videur Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 06 - MAP - Parse Videur Output": {
      "main": [
        [
          {
            "node": "[CJ] 07 - IF - Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 07 - IF - Relevant?": {
      "main": [
        [
          {
            "node": "[CJ]_Get_Enrich_Product_Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 09 - AI - Enhance (Expert)": {
      "main": [
        [
          {
            "node": "[CJ] 10 - MAP - Parse Expert Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 10 - MAP - Parse Expert Output": {
      "main": [
        [
          {
            "node": "[CJ] 11 - IF - Should Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 11 - IF - Should Publish?": {
      "main": [
        [
          {
            "node": "[CJ] 12 - MAP - Build Product (Published Payload)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 14 - DB - Create Product (Rejected - Expert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 12 - MAP - Build Product (Published Payload)": {
      "main": [
        [
          {
            "node": "[CJ] 13 - DB - Create Product (Published)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déjà en base ?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "[CJ] 09 - AI - Enhance (Expert)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13A - MAP - Prepare Variants": {
      "main": [
        [
          {
            "node": "[CJ] 13B - DB - Create Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Déjà en base ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 08 - DB - Register_Rejected(Not_Relevant)_Product": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product_Img_for_analyse": {
      "main": [
        [
          {
            "node": "[CJ] 05 - AI - Filter (Videur)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ]_Get_Enrich_Product_Details": {
      "main": [
        [
          {
            "node": "[CJ] 09 - AI - Enhance (Expert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 14 - DB - Create Product (Rejected - Expert)": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13 - DB - Create Product (Published)": {
      "main": [
        [
          {
            "node": "[CJ] 13A - MAP - Prepare Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 13B - DB - Create Variants": {
      "main": [
        [
          {
            "node": "[CJ] 04 - LOOP - Split In Batches (1 by 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] 15 - END - Done": {
      "main": [
        []
      ]
    },
    "[CJ] 01 - Planifier le Scan (Pays x Cats x Pages)": {
      "main": [
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOOP] Master - Une combinaison à la fois": {
      "main": [
        [
          {
            "node": "[CJ] 15 - END - Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déjà en base ?1": {
      "main": [
        [
          {
            "node": "[CJ] 03 - MAP - Split CJ List to Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[LOOP] Master - Une combinaison à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "[CJ] 02 - API - Fetch Products (CJ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Product_Img_for_analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d8d09bb-13dc-4ebe-8c42-47c43268ce15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  },
  "id": "kEorAHxVk5n1qYjQ",
  "tags": []
}