n8n-workflows/[koktek-CJ] Enrichissement des Produits - Livraison - Avis (Finale - 3 mars).json
{
  "name": "[koktek-CJ] Enrichissement des Produits - Livraison - Avis (Finale - 3 mars)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        -96
      ],
      "id": "1527591e-2e8c-4e8b-b0ed-d391f4f322fd",
      "name": "Toutes les heures"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM koktek.products p\nWHERE p.status = 'published'\nAND EXISTS (\n    SELECT 1 \n    FROM koktek.product_variants v \n    WHERE v.product_id = p.id \n    AND (v.shipping_price IS NULL OR v.shipping_price = 0)\n)\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -288,
        -96
      ],
      "id": "1edc7ed1-ef3a-47aa-9bd9-8b14be42a75a",
      "name": "[PG] Chercher 10 produits à enrichir",
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        -96
      ],
      "id": "25a14aba-5f99-4f9b-9e9d-0452aa42bc26",
      "name": "[LOOP] Produit par Produit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://developers.cjdropshipping.com/api2.0/v1/logistic/freightCalculate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CJ-Access-Token",
              "value": "API@CJ5158994@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzMjY5OCIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnlvMHMyT0M5MFhSTTJKU0hvcU8wZnlDVE5yVERld2JNN0NpSE92SlIxTnpsd1NBUDJoc0IrRGtOTm5nYVhaTWY0T29wNU5LV0kwTVZQWDZrQVkrYmNnUDRxazRTQ01TcUdMdHlMVlU2MHE3MnFRcXdWTWk1a005Z0ErcGN1R0VhODVUd2JoZzVPUDRPUlg1YlRTS1BuaVhIYjh1alFiVGRnbk8yTVYvUWhPSGtKRHZlZlRBZVNjNDdvMFUvYVBxVVRYSTlsK0tuY0hFYzcxZzg4bi80Ynd5RTMxVEwxU3JoaVJacEFvNHVkVi9PUyt6ZW1wNkpWS0RobHBzWEcxMkplNytBZVVtN0NUcCtoMzNHMnNlVU1wcz0iLCJpYXQiOjE3NzEwOTE4OTF9.MVX1SPGVbScWWJRw3Vu4Vx1Y8zNr8npAG3_FyzrEqCg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startCountryCode\": \"{{ $json.country_origin || 'CN' }}\",\n  \"endCountryCode\": \"FR\",\n  \"products\": [\n    {\n      \"quantity\": 1,\n      \"vid\": \"{{ $node[\"[PG] Récupérer 1 VID\"].json.cj_vid }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        592,
        -96
      ],
      "id": "50f67d6a-42a4-41fb-9fa0-53ba0d2d6298",
      "name": "[CJ] Calculer Frais de Port"
    },
    {
      "parameters": {
        "jsCode": "const shippingMethods = $json.data || [];\nconst validMethods = shippingMethods.filter(s => s.logisticPrice <= 9);\nconst safeMethods = validMethods.length > 0 ? validMethods : shippingMethods;\n\n// 1. Tri et Top 3\nconst sortedByPrice = [...safeMethods].sort((a, b) => a.logisticPrice - b.logisticPrice);\nconst sortedByTime = [...safeMethods].sort((a, b) => {\n  const timeA = parseInt((a.logisticAging || \"99\").split('-').pop());\n  const timeB = parseInt((b.logisticAging || \"99\").split('-').pop());\n  return timeA - timeB;\n});\n\nconst top3 = [\n  sortedByPrice[0],\n  sortedByTime[0],\n  sortedByPrice[Math.floor(sortedByPrice.length / 2)]\n].filter(Boolean);\n\nconst uniqueTop3 = Array.from(new Set(top3.map(a => a.logisticName)))\n  .map(name => top3.find(a => a.logisticName === name));\n\n// 2. EXTRACTION DU PRIX DE LIVRAISON (Médiane)\nconst medianShipping = uniqueTop3[Math.floor(uniqueTop3.length / 2)]?.logisticPrice || 0;\n\n// 3. Simulation du prix (UNIQUEMENT POUR L'IA, ne sera pas sauvegardé)\nconst basePrice = parseFloat($node[\"[LOOP] Produit par Produit\"].json.base_price) || 0;\nconst marge = (basePrice + medianShipping) < 10 ? 2 : 4;\nconst simulatedRetailPrice = ((basePrice + medianShipping + marge) / 0.877).toFixed(2);\n\nreturn {\n  shipping_price_median: medianShipping,\n  retail_price: simulatedRetailPrice, // L'IA lira ça pour son avis\n  shipping_options: { \n    list: uniqueTop3.map(s => ({\n      name: s.logisticName,\n      price: s.logisticPrice,\n      days: s.logisticAging + 'j'\n    }))\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -96
      ],
      "id": "d0f14380-9aa0-40fc-893c-a1d4e7308d71",
      "name": "[CODE] - Calculateur de Marge & Top 3 Transporteurs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# DONNEES DU PRODUIT A EVALUER ET A JUSTIFIER\n- Titre : {{ $node[\"[LOOP] Produit par Produit\"].json.title }}\n- Prix de vente : {{ $node[\"[CODE] - Calculateur de Marge & Top 3 Transporteurs\"].json.retail_price }} EUR\n- Description technique : {{ $node[\"[LOOP] Produit par Produit\"].json.description }}\n- Image principale (A analyser) : {{ $node[\"[LOOP] Produit par Produit\"].json.image }}\n\n# OPTIONS DE LIVRAISON (Vers la France)\n{{ JSON.stringify($node[\"[CODE] - Calculateur de Marge & Top 3 Transporteurs\"].json.shipping_options) }}\n\n# CONSIGNE\nRegarde l'image via le lien fourni, analyse le prix, les delais de livraison et la description.\nGenere le score, les etoiles, et redige ton verdict en \"Je\" pour justifier tes points forts et tes points faibles selon les regles etablies.\nRAPPEL FINAL : Renvoie UNIQUEMENT un objet JSON valide, sans aucune balise markdown ni texte autour.",
        "options": {
          "systemMessage": "# ROLE\nTu es le Testeur Expert du Laboratoire KOKTEK. Tu t'adresses directement au client (\"vous\") en utilisant le \"Je\" pour donner ton avis personnel. Ton rôle est de JUSTIFIER la note que tu as attribuée en analysant le visuel, le rapport qualité/prix et les specs.\n\n# STYLE ET VARIETE (TRES IMPORTANT)\nTu dois absolument VARIER ton vocabulaire et ton approche d'un produit à l'autre. Ne commence pas toujours tes phrases de la même façon. Parfois sois très enthousiaste, parfois sois plus technique, parfois concentre-toi sur le design. Ne sois pas répétitif !\n\n# REGLES DE NOTATION (STRICT)\n1. expert_score : \n   - REGLE ABSOLUE : Si le \"Prix de vente\" fourni dans les données est SUPERIEUR OU EGAL à 10.00 EUR, tu DOIS OBLIGATOIREMENT donner la note de 5.0. Aucune exception !\n   - Si le prix est inférieur à 10.00 EUR, donne une note entre 4.0 et 4.5.\n2. expert_stars : Convertis la note (\"⭐⭐⭐⭐\" pour 4.0, \"⭐⭐⭐⭐⭐\" pour 5.0).\n\n# REDACTION DU VERDICT (expert_review)\nRédige un avis honnête, direct et vendeur (3 à 4 phrases maximum).\n1. LE RESSENTI GLOBAL : Donne ton avis général et la note. (Ex: \"Ce modèle mérite un 5/5 sans hésiter...\", ou \"Un solide 4 étoiles pour cette protection...\").\n2. CE QUI FAIT LA DIFFERENCE : Mets en avant ce qui rend ce produit intéressant (design, matériau, rapport qualité/prix). \n3. LA NUANCE (OPTIONNELLE) : SI tu as mis moins de 5 étoiles, explique rapidement pourquoi (ex: un peu épais, design très classique). SI tu as mis 5 étoiles, termine sur une recommandation forte !\n4. INTERDICTIONS : Ne répète JAMAIS le titre exact du produit. Ne parle jamais de livraison, de frais de port ou de délais.\n\n# FORMAT DE SORTIE (JSON STRICT UNIQUEMENT)\n{\n  \"expert_score\": number,\n  \"expert_stars\": \"string\",\n  \"expert_review\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        -96
      ],
      "id": "0ebdb9aa-bdc4-4eac-b45f-8367364b1d09",
      "name": "[AI] - Expert Notation & Review"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        992,
        160
      ],
      "id": "4cf1111a-3e1b-42b2-99a2-5a3543daf916",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cj_vid \nFROM koktek.product_variants \nWHERE product_id = '{{ $json.id }}' \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        160,
        -80
      ],
      "id": "45a42042-10ea-4990-b718-2412526ad887",
      "name": "[PG] Récupérer 1 VID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "koktek",
          "mode": "list",
          "cachedResultName": "koktek"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "expert_score": "={{ $json.expert_score }}",
            "id": "={{ $node[\"[LOOP] Produit par Produit\"].json.id }}",
            "shipping_options": "={{ $node[\"[CODE] - Calculateur de Marge & Top 3 Transporteurs\"].json.shipping_options }}",
            "expert_review": "={{ $json.expert_review }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "base_price",
              "displayName": "base_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_pid",
              "displayName": "cj_pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reference",
              "displayName": "reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cj_category_id",
              "displayName": "cj_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_feedback",
              "displayName": "ai_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories_id",
              "displayName": "categories_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_options",
              "displayName": "shipping_options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "expert_score",
              "displayName": "expert_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "expert_review",
              "displayName": "expert_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retail_price",
              "displayName": "retail_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_origin",
              "displayName": "country_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "margin",
              "displayName": "margin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urssaf_fee",
              "displayName": "urssaf_fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1600,
        -96
      ],
      "id": "4342c536-9d16-44c5-be9b-7bc430b9a397",
      "name": "mise ajour",
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère le texte brut sorti par l'IA (selon le nœud, ça s'appelle output, text ou message)\nlet rawText = $json.output || $json.text || $json.message?.content || $json.message || JSON.stringify($json);\n\n// 2. On utilise une expression régulière (Regex) pour capturer UNIQUEMENT ce qui est entre { et }\nlet extractJson = rawText.match(/\\{[\\s\\S]*\\}/);\n\nif (extractJson) {\n  try {\n    // 3. On transforme le texte capturé en véritable objet de données\n    let cleanData = JSON.parse(extractJson[0]);\n    return cleanData;\n  } catch (error) {\n    throw new Error(\"Le JSON extrait est mal formaté : \" + extractJson[0]);\n  }\n} else {\n  throw new Error(\"L'IA n'a généré aucun format JSON valide. Réponse brute : \" + rawText);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -96
      ],
      "id": "811a7cb2-7933-4dc3-9ff9-3a4859105756",
      "name": "[CODE] - Nettoyer Reponse IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE koktek.product_variants\nSET shipping_price = {{ $node[\"[CODE] - Calculateur de Marge & Top 3 Transporteurs\"].json.shipping_price_median }}\nWHERE product_id = '{{ $node[\"[LOOP] Produit par Produit\"].json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        -96
      ],
      "id": "e5de5b18-0ab4-4d55-bf90-755cb36e561b",
      "name": "[PG] Update Variants Shipping",
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f27d8d89-9e3d-42b4-99e6-d3df48398346",
              "leftValue": "cj_vid",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -80
      ],
      "id": "eb7f8b4e-afc7-4617-adfe-c80236864b09",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Toutes les heures": {
      "main": [
        [
          {
            "node": "[PG] Chercher 10 produits à enrichir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOOP] Produit par Produit": {
      "main": [
        [],
        [
          {
            "node": "[PG] Récupérer 1 VID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[PG] Chercher 10 produits à enrichir": {
      "main": [
        [
          {
            "node": "[LOOP] Produit par Produit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CJ] Calculer Frais de Port": {
      "main": [
        [
          {
            "node": "[CODE] - Calculateur de Marge & Top 3 Transporteurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CODE] - Calculateur de Marge & Top 3 Transporteurs": {
      "main": [
        [
          {
            "node": "[AI] - Expert Notation & Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[AI] - Expert Notation & Review": {
      "main": [
        [
          {
            "node": "[CODE] - Nettoyer Reponse IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "[AI] - Expert Notation & Review",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[PG] Récupérer 1 VID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CODE] - Nettoyer Reponse IA": {
      "main": [
        [
          {
            "node": "mise ajour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mise ajour": {
      "main": [
        [
          {
            "node": "[PG] Update Variants Shipping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[PG] Update Variants Shipping": {
      "main": [
        [
          {
            "node": "[LOOP] Produit par Produit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "[CJ] Calculer Frais de Port",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[LOOP] Produit par Produit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6a4ba527-6be1-4614-a723-b347fd3802f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  },
  "id": "mwZU98ckI9NzUseM",
  "tags": []
}