n8n-workflows/[koktek-CJ] - Nettoyage des Titres Produits (Finale - 3 mars).json
{
  "name": "[koktek-CJ] - Nettoyage des Titres Produits (Finale - 3 mars)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -16
      ],
      "id": "c2c8fd21-642c-4241-bc21-98f7209cdb4f",
      "name": "Une fois par jour, le soir à minuit. "
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -16
      ],
      "id": "7664977d-6c81-4e9b-8ce8-af4c1480d27f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "c97914a7-ef63-4fd2-9122-916ce9cd8bb0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère le texte brut sorti par l'IA (selon le nœud, ça s'appelle output, text ou message)\nlet rawText = $json.output || $json.text || $json.message?.content || $json.message || JSON.stringify($json);\n\n// 2. On utilise une expression régulière (Regex) pour capturer UNIQUEMENT ce qui est entre { et }\nlet extractJson = rawText.match(/\\{[\\s\\S]*\\}/);\n\nif (extractJson) {\n  try {\n    // 3. On transforme le texte capturé en véritable objet de données\n    let cleanData = JSON.parse(extractJson[0]);\n    return cleanData;\n  } catch (error) {\n    throw new Error(\"Le JSON extrait est mal formaté : \" + extractJson[0]);\n  }\n} else {\n  throw new Error(\"L'IA n'a généré aucun format JSON valide. Réponse brute : \" + rawText);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "d464671e-0b23-4f27-bf47-47e3c468c095",
      "name": "[CODE] - Nettoyer Reponse IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title \nFROM koktek.products \nWHERE title LIKE '%(%)%';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -16
      ],
      "id": "494b2103-3280-487d-be57-1881db71ffea",
      "name": "[DB] Get Dirty Titles",
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici le titre brut à nettoyer : {{ $json.title }}",
        "options": {
          "systemMessage": "# ROLE\nTu es le Directeur Artistique d'une boutique d'accessoires tech PREMIUM. Ta mission est de nettoyer et raccourcir des titres de produits qui ont été mal importés.\n\n# REGLES DE FORMATAGE (STRICTES)\n1. LE GRAND NETTOYAGE : Supprime OBLIGATOIREMENT toutes les suites de chiffres, les codes-barres, et surtout les numéros entre parenthèses (ex: \"1881911431198568450\").\n2. ANTI-SEO : Supprime le blabla commercial chinois (ex: Wholesale, Hot, New, Dropshipping, Cheap, High Quality).\n3. CONCISION PREMIUM : Le titre final doit aller à l'essentiel. Garde le type de produit et sa fonction/compatibilité.\n   - Exemple Mauvais : \"Tracker Bluetooth GPS compatible Apple Find My (1881911431198568450)\"\n   - Exemple Parfait : \"Tracker Bluetooth GPS - Apple Find My\"\n4. LANGUE : Le résultat final doit être en français irréprochable.\n\n# FORMAT DE SORTIE (JSON STRICT UNIQUEMENT)\nNe génère aucun texte autour des accolades.\n{\n  \"clean_title\": \"Titre premium, court et propre\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        0
      ],
      "id": "5f96f541-1881-4fc0-b16d-dc6663bac5f5",
      "name": "[AI] - Clean Product Title"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE koktek.products\nSET title = $1\nWHERE id = $2;",
        "options": {
          "queryReplacement": "={{ [$json.clean_title, $node[\"Loop Over Items\"].json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        0
      ],
      "id": "1355daf3-26bb-4949-b918-ab9f56b786da",
      "name": "[DB] Update Clean Title",
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Une fois par jour, le soir à minuit. ": {
      "main": [
        [
          {
            "node": "[DB] Get Dirty Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "[AI] - Clean Product Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "[AI] - Clean Product Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[CODE] - Nettoyer Reponse IA": {
      "main": [
        [
          {
            "node": "[DB] Update Clean Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DB] Get Dirty Titles": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[AI] - Clean Product Title": {
      "main": [
        [
          {
            "node": "[CODE] - Nettoyer Reponse IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DB] Update Clean Title": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d84c1f1-6d16-40f5-b448-bed5784fcf61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  },
  "id": "DKL8ocsqoV85f0AK",
  "tags": []
}