n8n-workflows/KOKTEK - Journal SEO Draft V2 (PostgreSQL + OpenRouter).json
{
  "name": "KOKTEK - Journal SEO Auto-Publish V3 (PostgreSQL + OpenRouter + Pexels)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "4fb1119d-bf0a-4d78-a4ff-d7a247b94d6e",
      "name": "Schedule Trigger (Toutes les heures)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM koktek.seo_topics\nWHERE status = 'approved'\n  AND generated_post_id IS NULL\nORDER BY priority ASC NULLS LAST,\n         published_target_date ASC NULLS LAST,\n         updated_at ASC NULLS LAST,\n         created_at ASC NULLS LAST\nLIMIT 1;",
        "options": {}
      },
      "id": "a2012f3f-e03b-4485-9e1e-9cb965ecb4c7",
      "name": "Postgres : Réserver 1 Sujet SEO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE koktek.seo_topics\nSET status = 'in_progress',\n    updated_at = NOW()\nWHERE id = $1\n  AND status = 'approved'\n  AND generated_post_id IS NULL\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Postgres : Réserver 1 Sujet SEO').first().json.id] }}"
        }
      },
      "id": "f86c1d31-f741-4257-b9e9-80b2b7b7556c",
      "name": "Postgres : Marquer Sujet en Cours",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        448,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH topic AS (\n  SELECT *\n  FROM koktek.seo_topics\n  WHERE id = $1\n),\nmanual_ids AS (\n  SELECT jsonb_array_elements_text(\n    CASE\n      WHEN jsonb_typeof(COALESCE((SELECT manual_product_ids FROM topic), '[]'::jsonb)) = 'array'\n        THEN COALESCE((SELECT manual_product_ids FROM topic), '[]'::jsonb)\n      ELSE '[]'::jsonb\n    END\n  )::uuid AS product_id\n),\nmanual_products AS (\n  SELECT\n    p.id,\n    p.title,\n    p.slug,\n    COALESCE(\n      MIN(NULLIF(pv.prix_calcule, 0)),\n      MIN(NULLIF(pv.price, 0)),\n      p.retail_price,\n      p.base_price\n    ) AS prix_calcule,\n    p.image,\n    1 AS source_rank,\n    row_number() OVER (ORDER BY p.title) AS sort_order\n  FROM koktek.products p\n  LEFT JOIN koktek.product_variants pv ON pv.product_id = p.id\n  WHERE p.status = 'published'\n    AND p.id IN (SELECT product_id FROM manual_ids)\n  GROUP BY p.id, p.title, p.slug, p.image, p.retail_price, p.base_price\n),\nrandom_products AS (\n  SELECT\n    p.id,\n    p.title,\n    p.slug,\n    COALESCE(\n      MIN(NULLIF(pv.prix_calcule, 0)),\n      MIN(NULLIF(pv.price, 0)),\n      p.retail_price,\n      p.base_price\n    ) AS prix_calcule,\n    p.image,\n    2 AS source_rank,\n    row_number() OVER (ORDER BY random()) AS sort_order\n  FROM koktek.products p\n  LEFT JOIN koktek.product_variants pv ON pv.product_id = p.id\n  WHERE p.status = 'published'\n    AND p.id NOT IN (SELECT product_id FROM manual_ids)\n  GROUP BY p.id, p.title, p.slug, p.image, p.retail_price, p.base_price\n  ORDER BY random()\n  LIMIT GREATEST(\n    0,\n    COALESCE((SELECT max_products FROM topic), 4) - (SELECT COUNT(*) FROM manual_products)\n  )\n),\nselected_products AS (\n  SELECT * FROM manual_products\n  UNION ALL\n  SELECT * FROM random_products\n),\nordered_products AS (\n  SELECT *\n  FROM selected_products\n  ORDER BY source_rank, sort_order\n  LIMIT COALESCE((SELECT max_products FROM topic), 4)\n)\nSELECT\n  COALESCE(\n    json_agg(\n      json_build_object(\n        'id', id,\n        'title', title,\n        'slug', slug,\n        'prix_calcule', prix_calcule,\n        'image', image\n      )\n      ORDER BY source_rank, sort_order\n    ) FILTER (WHERE id IS NOT NULL),\n    '[]'::json\n  ) AS products,\n  COALESCE(\n    array_agg(id ORDER BY source_rank, sort_order) FILTER (WHERE id IS NOT NULL),\n    ARRAY[]::uuid[]\n  ) AS product_ids\nFROM ordered_products;",
        "options": {
          "queryReplacement": "={{ [$('Postgres : Réserver 1 Sujet SEO').first().json.id] }}"
        }
      },
      "id": "2f6238f4-d3ba-4f3f-9cd8-b21437dcb122",
      "name": "Postgres : Sélectionner Produits du Sujet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalizeArray = (value) => {\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'string' && value.trim()) {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) return parsed;\n    } catch {}\n\n    return value\n      .replace(/^{/, '')\n      .replace(/}$/, '')\n      .split(',')\n      .map((entry) => entry.trim())\n      .filter(Boolean);\n  }\n  return [];\n};\n\nconst topic = $('Postgres : Réserver 1 Sujet SEO').first().json;\nconst selection = items[0]?.json ?? {};\n\nconst rawProducts = normalizeArray(selection.products)\n  .map((product) => {\n    if (typeof product === 'string') {\n      try {\n        return JSON.parse(product);\n      } catch {\n        return null;\n      }\n    }\n    return product;\n  })\n  .filter(Boolean);\n\nconst rawProductIds = normalizeArray(selection.product_ids).map((id) => String(id)).filter(Boolean);\nconst uniqueProductIds = [...new Set(rawProductIds)];\n\nconst productsText = rawProducts.length > 0\n  ? rawProducts\n      .map((product) => '- [' + product.id + '] ' + product.title + ' (Prix catalogue exact : ' + (product.prix_calcule ?? 'N/A') + '€)')\n      .join('\n')\n  : 'Aucun produit imposé pour ce sujet. Ne recommande aucun accessoire si la liste est vide.';\n\nconst topicTitle = topic.title || 'Sujet SEO du Journal';\nconst targetKeyword = topic.target_keyword || 'Non précisé';\nconst secondaryKeywords = topic.secondary_keywords || 'Aucun';\nconst searchIntent = topic.search_intent || 'informational';\nconst pillar = topic.pillar || 'general';\nconst articleType = topic.article_type || 'guide';\nconst angle = topic.angle || 'Aucun angle imposé';\nconst audience = topic.audience || 'Grand public';\nconst brief = topic.brief || 'Répondre clairement au besoin de l\\'internaute.';\nconst seasonality = topic.seasonality || 'evergreen';\nconst minWords = Math.min(500, Math.max(400, Number(topic.min_words || 450)));\nconst maxProducts = Number(topic.max_products || 4);\n\nconst prompt = [\n  'Sujet SEO validé pour le Journal Koktek :',\n  'Titre interne : ' + topicTitle,\n  'Mot-clé principal : ' + targetKeyword,\n  'Mots-clés secondaires : ' + secondaryKeywords,\n  'Intention : ' + searchIntent,\n  'Pilier : ' + pillar,\n  'Type d\\'article : ' + articleType,\n  'Angle : ' + angle,\n  'Audience : ' + audience,\n  'Saisonnalité : ' + seasonality,\n  'Brief : ' + brief,\n  'Longueur cible : 400 à 500 mots (viser ' + minWords + ' mots).',\n  'Nombre maximum de produits à citer : ' + maxProducts,\n  '',\n  'Produits Koktek disponibles si et seulement si pertinents :',\n  productsText,\n  '',\n  'Consignes :',\n  '1. Répondre d\\'abord au problème de l\\'internaute, sans ton publicitaire.',\n  '2. Produire un article snackable : court, dense, utile et immédiatement actionnable.',\n  '3. Ne jamais transformer l\\'article en fiche produit déguisée.',\n  '4. N\\'inventer aucun produit, accessoire ou usage absent de la liste fournie.',\n  '5. Si des produits sont pertinents, les citer surtout dans la deuxième moitié ou la conclusion.',\n  '6. Ne jamais écrire de prix chiffré dans le corps du texte : laisser le bloc produit afficher le prix catalogue exact.',\n  '7. Si la marque apparaît dans le corps du texte, écrire toujours \"Koktek\", jamais \"KOKTEK\".',\n  '8. Limiter la marque à une seule mention, si possible dans la conclusion.',\n  '9. Utiliser du HTML propre avec des <h2>, <h3>, <p>, <ul>, <li> et <strong>.',\n  '10. Utiliser des paragraphes courts, du gras utile et au moins une liste à puces.',\n  '11. Aucun bloc ne doit dépasser 3 phrases sans rupture visuelle.',\n  '12. La cover doit toujours être une image lifestyle Pexels : jamais de packshot produit, jamais d\\'accessoire isolé, jamais de visuel bijou ou mode.',\n  '13. Les images produit restent reservees au bloc Produits recommandes, jamais a la une.',\n  '14. Fournir un cover_image_query lifestyle, crédible et neutre. En cas de doute, choisir une scène d\\'usage simple et universelle.',\n  '15. L\\'article sera publié automatiquement, donc éviter tout placeholder ou formulation hésitante.',\n  '16. Renvoyer strictement l\\'objet JSON brut, rien d\\'autre.',\n].join('\n');\n\nreturn [{\n  json: {\n    topic_id: topic.id,\n    topic_title: topicTitle,\n    target_keyword: topic.target_keyword || '',\n    secondary_keywords: topic.secondary_keywords || '',\n    search_intent: searchIntent,\n    pillar: topic.pillar || '',\n    article_type: articleType,\n    angle: topic.angle || '',\n    audience: topic.audience || '',\n    brief: topic.brief || '',\n    seasonality,\n    min_words: minWords,\n    max_products: maxProducts,\n    products: rawProducts,\n    products_text: productsText,\n    product_ids: uniqueProductIds,\n    cover_image: null,\n    prompt,\n  }\n}];"
      },
      "id": "d028a6f4-4494-4ccc-ad03-bdd4d7b07d85",
      "name": "Code : Préparer Brief SEO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Tu es le rédacteur SEO senior du Journal Koktek. Tu écris des articles premium, utiles et crédibles, à l'intersection de la tech du quotidien, de la mobilité, du lifestyle et de la protection smartphone.\n\nTu dois toujours renvoyer UNIQUEMENT un objet JSON valide avec exactement ces 8 clés :\n\n\"title\" : titre SEO naturel, humain, non racoleur.\n\"slug\" : slug URL en minuscules, sans accents, avec des tirets.\n\"excerpt\" : chapo / résumé de 2 à 3 phrases.\n\"seo_title\" : balise title SEO de max 65 caractères.\n\"seo_description\" : meta description de max 155 caractères.\n\"cover_image_alt\" : texte alternatif descriptif de l'image de couverture.\n\"cover_image_query\" : requête photo courte, visuelle, lifestyle, sans marque, pensée pour trouver une image d'illustration libre de droits.\n\"content\" : contenu HTML complet, utile, structuré, entre 400 et 500 mots.\n\nRègles absolues :\n- Le premier paragraphe doit répondre au problème, pas vendre.\n- Le ton doit être expert, simple, premium, concret et snackable.\n- Le contenu doit rester entre 400 et 500 mots, avec des paragraphes courts.\n- Utilise du gras utile et au moins une liste à puces.\n- N'écris jamais de prix chiffré dans le corps du texte.\n- Pas de fausse actualité, pas d'invention de chiffres, pas de prix fantaisistes.\n- Si un produit est cité, il doit apparaître comme une recommandation contextuelle, pas comme l'objet principal de l'article.\n- N'utilise jamais le nom de la marque KOKTEK dans \"title\" ni dans \"seo_title\". Garde un titre de magazine neutre.\n- Si la marque doit apparaître dans le corps du texte, écris toujours \"Koktek\", jamais \"KOKTEK\", et une seule fois au maximum, de préférence dans la conclusion.\n- N'invente jamais un accessoire absent de la liste de produits fournie.\n- La requête \"cover_image_query\" doit viser une scène lifestyle crédible et neutre, jamais un packshot produit, jamais un accessoire isolé, jamais un visuel bijou ou mode.\n- Aucun texte hors JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        0
      ],
      "id": "4571558b-3bb1-46e5-a294-8f1e8ce4e86f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        304
      ],
      "id": "28f2fd62-e0a9-4f26-9f76-32f38f8b57a1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toSlug = (value) => value\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[̀-ͯ]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)+/g, '');\n\nconst stripHtml = (value) => value\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst normalizeIds = (value) => {\n  if (Array.isArray(value)) return value.map((id) => String(id)).filter(Boolean);\n  if (typeof value === 'string' && value.trim()) {\n    return value\n      .replace(/^{/, '')\n      .replace(/}$/, '')\n      .split(',')\n      .map((entry) => entry.trim())\n      .filter(Boolean);\n  }\n  return [];\n};\n\nconst stripBrandFromTitle = (value) => {\n  if (typeof value !== 'string') return '';\n  return value\n    .replace(/\bKOKTEK\b/gi, '')\n    .replace(/\\s{2,}/g, ' ')\n    .replace(/\\s+([:!?;])/g, '$1')\n    .replace(/(^[-:|\\s]+|[-:|\\s]+$)/g, '')\n    .trim();\n};\n\nconst normalizeBrandCase = (value) => {\n  if (typeof value !== 'string') return '';\n  return value.replace(/\bkoktek\b/gi, 'Koktek');\n};\n\nconst keepSingleBrandMention = (value) => {\n  if (typeof value !== 'string' || !value) return '';\n  const matches = [...value.matchAll(/\bkoktek\b/gi)];\n  if (matches.length === 0) return value;\n\n  let cursor = 0;\n  let result = '';\n\n  matches.forEach((match, index) => {\n    const start = match.index ?? 0;\n    const end = start + match[0].length;\n    result += value.slice(cursor, start);\n    result += index === matches.length - 1 ? 'Koktek' : 'la marque';\n    cursor = end;\n  });\n\n  return result + value.slice(cursor);\n};\n\nconst sanitizeBrandMentions = (value) => keepSingleBrandMention(normalizeBrandCase(value));\n\nconst inferCoverQuery = (preparedData, safeTitle) => {\n  const keyword = String(preparedData.target_keyword || '').toLowerCase();\n\n  if (keyword.includes('voiture') || keyword.includes('gps')) return 'car dashboard lifestyle';\n  if (keyword.includes('ecouteur') || keyword.includes('earbud') || keyword.includes('airpod')) return 'clean wireless earbuds on desk';\n  if (keyword.includes('coque')) return 'smartphone on clean desk';\n  if (keyword.includes('charge') || keyword.includes('batterie')) return 'phone charging on desk';\n  if (keyword.includes('courir') || keyword.includes('running') || keyword.includes('sport')) return 'person running outdoors';\n\n  const byPillar = {\n    'auto-mobilite': 'car dashboard lifestyle',\n    'tech-productivite': 'organized desk smartphone',\n    'lifestyle-protection': 'smartphone everyday lifestyle',\n    'creation-mobile': 'mobile content creator',\n    'guides-achat': 'smartphone accessories lifestyle',\n  };\n\n  return byPillar[preparedData.pillar] || stripBrandFromTitle(preparedData.target_keyword || '') || safeTitle;\n};\n\nconst sanitizeCoverQuery = (value, preparedData, safeTitle) => {\n  const blockedTerms = /\b(diamond|diamant|glitter|jewel|jewelry|bracelet|necklace|ring|makeup|cosmetic|nail|fashion|luxury|sparkle|gem|rhinestone|mockup|template|isolated|render)\b/i;\n  const cleaned = stripBrandFromTitle(typeof value === 'string' ? value : '')\n    .replace(/[^a-zA-Z0-9\\s-]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!cleaned || blockedTerms.test(cleaned) || cleaned.split(/\\s+/).length > 7) {\n    return inferCoverQuery(preparedData, safeTitle);\n  }\n\n  return cleaned;\n};\n\nlet aiText = items[0].json.output || items[0].json.text || items[0].json.message?.content || items[0].json.message || '';\n\nif (typeof aiText !== 'string' || !aiText.trim()) {\n  throw new Error('La réponse du modèle est vide ou illisible.');\n}\n\naiText = aiText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nconst start = aiText.indexOf('{');\nconst end = aiText.lastIndexOf('}');\nconst jsonSlice = start !== -1 && end !== -1 && end > start\n  ? aiText.slice(start, end + 1)\n  : aiText;\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiText);\n} catch {\n  aiResponse = JSON.parse(jsonSlice);\n}\n\nconst preparedData = $('Code : Préparer Brief SEO').first().json;\nconst topicTitle = stripBrandFromTitle(preparedData.topic_title || '') || 'Article du Journal';\nconst title = stripBrandFromTitle(typeof aiResponse.title === 'string' ? aiResponse.title.trim() : '');\nconst safeTitle = title || topicTitle;\nconst safeSlug = toSlug((typeof aiResponse.slug === 'string' ? aiResponse.slug : safeTitle) || 'article-journal');\nconst summary = sanitizeBrandMentions(typeof aiResponse.excerpt === 'string' ? aiResponse.excerpt.trim() : '');\nconst content = sanitizeBrandMentions(typeof aiResponse.content === 'string' ? aiResponse.content.trim() : '');\nconst seoTitle = stripBrandFromTitle(typeof aiResponse.seo_title === 'string' ? aiResponse.seo_title.trim() : '') || safeTitle;\nconst seoDescription = normalizeBrandCase(typeof aiResponse.seo_description === 'string' ? aiResponse.seo_description.trim() : summary);\nconst coverImageAlt = normalizeBrandCase(typeof aiResponse.cover_image_alt === 'string' ? aiResponse.cover_image_alt.trim() : safeTitle);\nconst coverImageQuery = sanitizeCoverQuery(aiResponse.cover_image_query, preparedData, safeTitle);\nconst productIds = normalizeIds(preparedData.product_ids);\nconst coverImage = preparedData.cover_image || null;\n\nif (!content) {\n  throw new Error('L'article généré ne contient aucun contenu exploitable.');\n}\n\nconst wordCount = stripHtml(content).split(/\\s+/).filter(Boolean).length;\nconst readingTime = Math.max(1, Math.ceil(wordCount / 220));\n\nreturn [{\n  json: {\n    topic_id: preparedData.topic_id,\n    title: safeTitle,\n    slug: safeSlug,\n    summary,\n    content,\n    cover_image: coverImage,\n    cover_image_alt: coverImageAlt,\n    cover_image_query: coverImageQuery,\n    product_ids: productIds,\n    pillar: preparedData.pillar || null,\n    article_type: preparedData.article_type || null,\n    reading_time: readingTime,\n    target_keyword: preparedData.target_keyword || null,\n    search_intent: preparedData.search_intent || null,\n    seasonality: preparedData.seasonality || null,\n    author_label: 'Journal KOKTEK',\n    seo_title: seoTitle,\n    seo_description: seoDescription,\n  }\n}];"
      },
      "id": "a0a0a4da-b27f-4931-a8fd-8f6c56b5426c",
      "name": "Code : Parser le JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO koktek.blog_posts (\n  status,\n  title,\n  slug,\n  summary,\n  content,\n  cover_image,\n  cover_image_alt,\n  pillar,\n  article_type,\n  reading_time,\n  target_keyword,\n  search_intent,\n  seasonality,\n  manual_review_status,\n  source_topic,\n  author_label,\n  seo_title,\n  seo_description,\n  published_at,\n  date_created\n)\nVALUES (\n  'published',\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9,\n  $10,\n  $11,\n  $12,\n  'published',\n  $13,\n  $14,\n  $15,\n  $16,\n  NOW(),\n  NOW()\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.title, $json.slug, $json.summary, $json.content, $json.cover_image, $json.cover_image_alt, $json.pillar, $json.article_type, $json.reading_time, $json.target_keyword, $json.search_intent, $json.seasonality, $json.topic_id, $json.author_label, $json.seo_title, $json.seo_description] }}"
        }
      },
      "id": "eadf542f-8890-4660-9d25-5a1638f6c4d6",
      "name": "Postgres : Publier Article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1936,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blogPostId = items[0].json.id;\nconst productIds = $('Code : Parser le JSON').first().json.product_ids || [];\n\nreturn productIds.map((productId) => ({\n  json: {\n    blog_posts_id: blogPostId,\n    products_id: productId,\n  }\n}));"
      },
      "id": "ab00f929-6c5b-4f8d-bf3f-bd4fbefdf6cc",
      "name": "Code : Préparer Jointures M2M",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.blog_posts_products (blog_posts_id, products_id)\nVALUES ($1, $2);",
        "options": {
          "queryReplacement": "={{ [$json.blog_posts_id, $json.products_id] }}"
        }
      },
      "id": "164e9890-df45-4f5c-b4e2-6df7f123b3c9",
      "name": "Postgres : Lier Produits à l'Article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2416,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated_topic AS (\n  UPDATE koktek.seo_topics\n  SET status = 'published',\n      generated_post_id = $1,\n      last_generated_at = NOW(),\n      updated_at = NOW()\n  WHERE id = $2\n  RETURNING id, status, generated_post_id\n)\nSELECT *\nFROM updated_topic;",
        "options": {
          "queryReplacement": "={{ [$json.id, $('Code : Parser le JSON').first().json.topic_id] }}"
        }
      },
      "id": "d46d1f53-c1a4-4e1b-8c5f-d9b64f61f75f",
      "name": "Postgres : Cloturer Sujet SEO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2176,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.pexels.com/v1/search?query=' + encodeURIComponent($json.cover_image_query || $json.target_keyword || $json.title) + '&per_page=12&orientation=portrait&size=medium' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "__PEXELS_API_KEY__"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1424,
        0
      ],
      "id": "8dd1326a-e0be-43db-bfd0-853926bcd1cd",
      "name": "HTTP : Chercher Cover Pexels"
    },
    {
      "parameters": {
        "jsCode": "const article = $('Code : Parser le JSON').first().json;\nconst response = items[0]?.json ?? {};\nconst photos = Array.isArray(response.photos) ? response.photos : [];\nconst queryTerms = String(article.cover_image_query || '')\n  .toLowerCase()\n  .split(/[^a-z0-9]+/)\n  .filter(Boolean)\n  .slice(0, 6);\n\nconst blockedTerms = [\n  'diamond', 'diamant', 'glitter', 'jewel', 'jewelry', 'bracelet', 'necklace', 'ring',\n  'makeup', 'cosmetic', 'nail', 'fashion', 'luxury', 'sparkle', 'gem', 'rhinestone',\n  'mockup', 'template', 'isolated', 'render', 'sticker', 'ornament', 'decorative'\n];\n\nconst productLikeTerms = ['case', 'cover', 'coque', 'packshot', 'product'];\nconst lifestyleTerms = ['lifestyle', 'desk', 'workspace', 'dashboard', 'interior', 'outdoor', 'person', 'hands', 'smartphone', 'phone', 'charging', 'earbuds', 'clean', 'running', 'car'];\nconst wantsHumanScene = /courir|running|sport|selfie|creator|photo/.test(String(article.target_keyword || '').toLowerCase());\nconst coverFallbacks = [\n  { matcher: /(coque|protection|magsafe|magnetique|antichoc|transparent)/i, url: 'https://images.pexels.com/photos/442576/pexels-photo-442576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825' },\n  { matcher: /(chargeur|charge|batterie|usb|power|induction|gan)/i, url: 'https://images.pexels.com/photos/4526407/pexels-photo-4526407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825' },\n  { matcher: /(voiture|auto|gps|moto|navigation)/i, url: 'https://images.pexels.com/photos/694424/pexels-photo-694424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825' },\n  { matcher: /(selfie|creator|creation|photo|video|tr[eé]pied|capture)/i, url: 'https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825' },\n  { matcher: /(ecouteur|audio|casque|earbud)/i, url: 'https://images.pexels.com/photos/3780681/pexels-photo-3780681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825' },\n];\n\nconst scorePhoto = (photo) => {\n  if (!photo || typeof photo !== 'object') return -999;\n  const src = photo.src || {};\n  const imageUrl = src.large2x || src.large || src.original || src.medium;\n  if (!imageUrl) return -999;\n\n  const alt = String(photo.alt || '').toLowerCase();\n  const photographer = String(photo.photographer || '').toLowerCase();\n  const haystack = [alt, photographer].join(' ');\n\n  let score = 0;\n  const width = Number(photo.width || 0);\n  const height = Number(photo.height || 0);\n\n  if (height >= width * 0.9) score += 4;\n  if (height >= 1200) score += 3;\n  if (width >= 700) score += 1;\n\n  for (const term of queryTerms) {\n    if (term && haystack.includes(term)) score += 1;\n  }\n\n  for (const term of lifestyleTerms) {\n    if (haystack.includes(term)) score += 1;\n  }\n\n  for (const term of blockedTerms) {\n    if (haystack.includes(term)) score -= 8;\n  }\n\n  for (const term of productLikeTerms) {\n    if (haystack.includes(term)) score -= 5;\n  }\n\n  if (wantsHumanScene && /(person|people|woman|man|runner|jogging|outdoor|fitness)/.test(haystack)) {\n    score += 4;\n  }\n\n  if (!wantsHumanScene && /(workspace|desk|interior|dashboard|charging|smartphone|hands)/.test(haystack)) {\n    score += 3;\n  }\n\n  return score;\n};\n\nconst ranked = [...photos]\n  .filter((photo) => photo?.src?.large2x || photo?.src?.large || photo?.src?.original || photo?.src?.medium)\n  .sort((left, right) => scorePhoto(right) - scorePhoto(left));\n\nconst bestPhoto = ranked[0];\nconst bestScore = bestPhoto ? scorePhoto(bestPhoto) : -999;\nconst src = bestPhoto?.src || {};\nconst bestUrl = src.large2x || src.large || src.original || src.medium || null;\nconst fallbackHaystack = [article.target_keyword, article.pillar, article.title].filter(Boolean).join(' ');\nconst fallbackCover = coverFallbacks.find((entry) => entry.matcher.test(fallbackHaystack))?.url || 'https://images.pexels.com/photos/4526407/pexels-photo-4526407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1100&w=825';\nconst finalCover = bestScore >= 5 ? bestUrl : fallbackCover;\n\nreturn [{\n  json: {\n    ...article,\n    cover_image: finalCover,\n    cover_image_source: 'pexels',\n    cover_image_provider: 'pexels',\n    cover_image_credit: bestScore >= 5 ? bestPhoto?.photographer ?? null : null,\n  }\n}];"
      },
      "id": "638a3662-9aca-44e1-9275-7db5a03e1333",
      "name": "Code : Finaliser Cover Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Toutes les heures)": {
      "main": [
        [
          {
            "node": "Postgres : Réserver 1 Sujet SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres : Réserver 1 Sujet SEO": {
      "main": [
        [
          {
            "node": "Postgres : Marquer Sujet en Cours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres : Sélectionner Produits du Sujet": {
      "main": [
        [
          {
            "node": "Code : Préparer Brief SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code : Préparer Brief SEO": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code : Parser le JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code : Parser le JSON": {
      "main": [
        [
          {
            "node": "HTTP : Chercher Cover Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code : Préparer Jointures M2M": {
      "main": [
        [
          {
            "node": "Postgres : Lier Produits à l'Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres : Marquer Sujet en Cours": {
      "main": [
        [
          {
            "node": "Postgres : Sélectionner Produits du Sujet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code : Finaliser Cover Article": {
      "main": [
        [
          {
            "node": "Postgres : Publier Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres : Publier Article": {
      "main": [
        [
          {
            "node": "Code : Préparer Jointures M2M",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres : Cloturer Sujet SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP : Chercher Cover Pexels": {
      "main": [
        [
          {
            "node": "Code : Finaliser Cover Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "29803ee9-e649-4b6f-8b56-a2f4432d8123",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  },
  "id": "QdHeP4VDyrM9Jn7K",
  "tags": []
}
