n8n-workflows/KOKTEK - SEO Topic Idea Generator (Catalogue + OpenRouter).json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "d8aaaa37-7e77-43a0-b358-76a1852eccbe",
      "name": "Schedule Trigger (1 fois par jour)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH scored_products AS (\n  SELECT\n    p.id,\n    p.title,\n    p.slug,\n    COALESCE(\n      MIN(NULLIF(pv.prix_calcule, 0)),\n      MIN(NULLIF(pv.price, 0)),\n      p.retail_price,\n      p.base_price\n    ) AS retail_price,\n    p.image,\n    CASE\n      WHEN p.title ~* '(chargeur|batterie|magsafe|usb|gan|power|induction)' THEN 0\n      WHEN p.title ~* '(support|tr[eé]pied|selfie|voiture|moto|v[eé]lo|navigation)' THEN 1\n      WHEN p.title ~* '(verre|film|protecteur|protection d''ecran|objectif)' THEN 2\n      WHEN p.title ~* '(coque transparente|antichoc|magn[eé]tique|dissipat|chargeur sans fil)' THEN 3\n      ELSE 4\n    END AS topic_priority\n  FROM koktek.products p\n  LEFT JOIN koktek.product_variants pv ON pv.product_id = p.id\n  WHERE p.status = 'published'\n    AND p.title ~* '(coque|chargeur|batterie|support|adaptateur|usb|magsafe|c[aâ]ble|cable|ecouteur|écouteur|casque|protection|verre|camera|capture|selfie|tr[eé]pied|voiture|moto|v[eé]lo|navigation|transparent|antichoc|dissipat|induction)'\n    AND p.title !~* '^(blanc|bleu|rose|rouge|vert|jaune|violet|denim|floral)\\s*-'\n    AND p.title !~* '(paillet|strass|coque paillet|coque florale|simili cuir|diamant|glitter|miroir|rabat|clamshell|peluche|sir[eè]ne|papillon|cam[eé]lia|marbre|avocat|chien blanc|l[eé]opard|no[eë]l|anti espion|special|sp[eé]ciaux|bo[iî]te en bois)'\n  GROUP BY p.id, p.title, p.slug, p.image, p.retail_price, p.base_price\n)\nSELECT\n  id,\n  title,\n  slug,\n  retail_price,\n  image\nFROM scored_products\nORDER BY topic_priority ASC, random()\nLIMIT 24;",
        "options": {}
      },
      "id": "f6d2ac59-d55c-4014-ba34-d0212d4be907",
      "name": "Postgres : Sélectionner Produits du Catalogue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Défense de base : on s'assure que les données entrantes existent\nif (!items || !Array.isArray(items)) {\n  throw new Error(\"Erreur système : les items d'entrée sont invalides ou manquants.\");\n}\n\n// 2. Extraction et filtrage ultra-robuste des produits\nconst products = items\n  .map((item) => item?.json)\n  .filter((product) => product && product.id && product.title && product.slug);\n\nif (products.length === 0) {\n  throw new Error(\"Aucun produit publié exploitable dans le catalogue.\");\n}\n\n// 3. Fonction de classification (Piliers) avec nettoyage des espaces\nconst inferPillar = (title) => {\n  const value = String(title || \"\").toLowerCase().trim();\n\n  if (/(voiture|gps|support voiture|chargeur voiture|moto)/.test(value)) return \"auto-mobilite\";\n  if (/(selfie|camera|capture|ring light|lumineux|photo|video|tr[eé]pied)/.test(value)) return \"creation-mobile\";\n  if (/(coque|protection|verre|objectif|anneau de protection)/.test(value)) return \"lifestyle-protection\";\n  if (/(chargeur|batterie|usb|magsafe|gan|c[aâ]ble|audio|ecouteur|écouteur|casque|induction)/.test(value)) return \"tech-productivite\";\n  \n  return \"guides-achat\";\n};\n\n// 4. Création des lignes du catalogue avec \"Template Literals\" (plus propre)\nconst catalogLines = products.map((product) => {\n  const pillar = inferPillar(product.title);\n  const price = product.retail_price ?? \"N/A\";\n  return `- [${product.id}] ${product.title} | slug: ${product.slug} | pilier: ${pillar} | prix: ${price}€`;\n});\n\n// 5. Construction du prompt \n// /!\\ CORRECTION MAJEURE : Utilisation stricte de guillemets doubles (\" \") pour \n// encadrer les phrases. Cela empêche les apostrophes (ex: l'un, l'autre) de faire crasher n8n.\nconst prompt = [\n  \"Catalogue Koktek réellement vendu :\",\n  ...catalogLines,\n  \"\",\n  \"Mission : proposer 5 sujets SEO premium strictement alignés sur ces produits exacts.\",\n  \"Tu ne dois jamais inventer un produit, un accessoire ou un usage impossible à servir avec ce catalogue.\",\n  \"Chaque idée doit pouvoir recommander de 1 à 4 produits exacts présents dans la liste ci-dessus.\",\n  \"Si un angle paraît séduisant mais ne correspond à aucun produit listé, il doit être rejeté.\",\n  \"Privilégier des sujets evergreen, utiles, inbound et réellement vendables.\",\n  \"Favoriser en priorité les familles réellement monétisables et universelles : charge, batterie, support, mobilité auto, bureau, photo mobile, coque transparente ou antichoc, protection écran.\",\n  \"\",\n  \"Tu dois renvoyer UNIQUEMENT un JSON avec une clé \\\"ideas\\\" contenant un tableau de 5 objets ayant exactement ces clés :\",\n  \"title, target_keyword, secondary_keywords, search_intent, pillar, article_type, angle, audience, brief, seasonality, priority, max_products, manual_product_ids\",\n  \"\",\n  \"Règles :\",\n  \"1. title = sujet éditorial interne, clair et vendeur sans être publicitaire.\",\n  \"2. target_keyword = requête Google plausible en français.\",\n  \"3. pillar doit être l'un de : auto-mobilite, tech-productivite, lifestyle-protection, creation-mobile, guides-achat.\",\n  \"4. article_type doit être l'un de : guide, checklist, comparatif, decryptage, selection, faq.\",\n  \"5. manual_product_ids doit contenir uniquement des IDs présents dans le catalogue fourni.\",\n  \"6. Ne jamais proposer un brassard de running, une montre ou tout autre produit absent du catalogue.\",\n  \"7. Priorité haute si le sujet répond à un problème concret et vendable.\"\n].join(\"\\n\");\n\n// 6. Renvoi final sécurisé\nreturn [{\n  json: {\n    products,\n    product_ids: products.map((product) => String(product.id)),\n    prompt,\n  }\n}];"
      },
      "id": "ffe2faff-86ec-407b-ba78-67857e6c70e8",
      "name": "Code : Préparer Brief Catalogue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Tu es le stratège SEO senior de Koktek. Tu conçois des idées d'articles inbound uniquement à partir d'un catalogue réel.\n\nTu dois toujours renvoyer UNIQUEMENT un objet JSON valide avec une clé \"ideas\".\n\nRègles absolues :\n- N'invente jamais un produit, une catégorie ou un usage absent du catalogue.\n- Chaque idée doit servir directement au moins un produit réellement vendu.\n- N'utilise jamais le nom de la marque dans les titres proposés.\n- Priorise les problèmes concrets, les usages réels et les requêtes evergreen.\n- Si une idée semble séduisante mais n'est pas vendable avec le catalogue, tu l'écartes.\n- manual_product_ids doit contenir uniquement des IDs exacts du catalogue fourni.\n- Aucun texte hors JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        0
      ],
      "id": "7276aa7b-fcdd-4cac-a60f-bc15e3813bbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        736,
        304
      ],
      "id": "dfd80e6e-f33a-4463-b857-1bd6710414c8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cVPDbiG2sQv7okss",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupérer les IDs disponibles de manière sécurisée\nconst preparedNode = $('Code : Préparer Brief Catalogue').first();\nif (!preparedNode || !preparedNode.json) {\n  throw new Error(\"Impossible de trouver les données du catalogue précédent.\");\n}\nconst availableIds = new Set((preparedNode.json.product_ids || []).map((id) => String(id)));\n\n// 2. Extraire le texte de l'IA (LangChain / OpenRouter)\nlet aiText = items[0]?.json?.output || items[0]?.json?.text || items[0]?.json?.message?.content || items[0]?.json?.message || '';\n\nif (typeof aiText !== 'string' || !aiText.trim()) {\n  throw new Error('La réponse de l\\'IA est vide ou illisible.');\n}\n\n// 3. Nettoyage du markdown (les fameux ```json)\naiText = aiText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nconst start = aiText.indexOf('{');\nconst end = aiText.lastIndexOf('}');\nconst jsonSlice = start !== -1 && end !== -1 && end > start\n  ? aiText.slice(start, end + 1)\n  : aiText;\n\n// 4. Double filet de sécurité pour le parsing JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(aiText);\n} catch (e1) {\n  try {\n    parsed = JSON.parse(jsonSlice);\n  } catch (e2) {\n    throw new Error(\"L'IA n'a pas renvoyé un JSON valide. Réponse brute : \" + aiText.substring(0, 100) + \"...\");\n  }\n}\n\n// 5. Normalisation et filtrage des idées\nconst normalizeArray = (value) => Array.isArray(value) ? value : [];\nconst ideas = normalizeArray(parsed.ideas);\nconst seen = new Set();\n\nreturn ideas\n  .map((idea) => {\n    // Ne garder que les IDs qui existent VRAIMENT dans la liste\n    const ids = normalizeArray(idea.manual_product_ids)\n      .map((id) => String(id))\n      .filter((id) => availableIds.has(id));\n\n    const title = String(idea.title || '').trim();\n    const keyword = String(idea.target_keyword || '').trim();\n    const dedupeKey = keyword.toLowerCase() || title.toLowerCase();\n\n    // Si l'idée est vide, n'a pas de produits, ou est un doublon : on jette\n    if (!title || !keyword || ids.length === 0 || seen.has(dedupeKey)) return null;\n    seen.add(dedupeKey);\n\n    return {\n      json: {\n        title,\n        target_keyword: keyword,\n        secondary_keywords: String(idea.secondary_keywords || '').trim(),\n        search_intent: String(idea.search_intent || 'informational').trim() || 'informational',\n        pillar: String(idea.pillar || 'guides-achat').trim() || 'guides-achat',\n        article_type: String(idea.article_type || 'guide').trim() || 'guide',\n        angle: String(idea.angle || '').trim(),\n        audience: String(idea.audience || 'Grand public').trim() || 'Grand public',\n        brief: String(idea.brief || '').trim(),\n        seasonality: String(idea.seasonality || 'evergreen').trim() || 'evergreen',\n        priority: parseInt(idea.priority) || 80,\n        max_products: Math.min(4, Math.max(1, Number(idea.max_products || ids.length || 2))),\n        manual_product_ids: JSON.stringify(ids),\n        source_label: 'idea-generator',\n      }\n    };\n  })\n  .filter(Boolean)\n  .slice(0, 5); // On ne garde que les 5 meilleurs"
      },
      "id": "a983b284-a90a-4b64-ab7f-2fb3340e4e53",
      "name": "Code : Parser les Idées SEO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing AS (\n  SELECT 1\n  FROM koktek.seo_topics\n  WHERE lower(title) = lower($1)\n     OR lower(target_keyword) = lower($2)\n  LIMIT 1\n), inserted AS (\n  INSERT INTO koktek.seo_topics (\n    status,\n    title,\n    target_keyword,\n    secondary_keywords,\n    search_intent,\n    pillar,\n    article_type,\n    angle,\n    audience,\n    brief,\n    seasonality,\n    priority,\n    min_words,\n    max_products,\n    manual_product_ids,\n    source_label,\n    created_at,\n    updated_at\n  )\n  SELECT\n    'approved',\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    $6,\n    $7,\n    $8,\n    $9,\n    $10,\n    $11,\n    400,\n    $12,\n    $13::jsonb,\n    $14,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, title, status\n)\nSELECT * FROM inserted;",
        "options": {
          "queryReplacement": "={{ [$json.title, $json.target_keyword, $json.secondary_keywords, $json.search_intent, $json.pillar, $json.article_type, $json.angle, $json.audience, $json.brief, $json.seasonality, $json.priority, $json.max_products, $json.manual_product_ids, $json.source_label] }}"
        }
      },
      "id": "328658b1-6978-4163-8481-b7d7a3ce24a3",
      "name": "Postgres : Enregistrer Sujet SEO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "53WcsVWA57w3XMFC",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (1 fois par jour)": {
      "main": [
        [
          {
            "node": "Postgres : Sélectionner Produits du Catalogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres : Sélectionner Produits du Catalogue": {
      "main": [
        [
          {
            "node": "Code : Préparer Brief Catalogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code : Préparer Brief Catalogue": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code : Parser les Idées SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code : Parser les Idées SEO": {
      "main": [
        [
          {
            "node": "Postgres : Enregistrer Sujet SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2a812d71c0a31481467401b1b047a4cb35fbc5b082af84a2e788f18137eff7"
  }
}
